<div id="quotes-container">
	<% 2.times do %>
		<div class="quote">
			<h1>Robert Breasson</h1>
			<p>I have a right to my anger, and I don't want anybody telling me I shouldn't be, that it's not nice to be, and that something's wrong with me because I get angry.</p>
		</div>
		<div class="quote">
			<h1>Robert Breasson</h1>
			<p>I always like a good math solution to any love problem.</p>
		</div>
		<div class="quote">
			<h1>Lina Roccár</h1>
			<p>I have a right to my anger, and I don't want anybody telling me I shouldn't be, that it's not nice to be, and that something's wrong with me because I get angry.</p>
		</div>
		<div class="quote">
			<h1>Pelé Noire</h1>
			<p>Mountains inspire awe in any human person who has a soul. They remind us of our frailty, our unimportance, of the briefness of our span upon this earth. They touch the heavens, and sail serenely at an altitude beyond even the imaginings of a mere mortal.</p>
		</div>
	<% end %>
</div>

<!--
<div class="row">
	<div class="threecol">
		<div class="quote">
			<h1>Robert Breasson</h1>
			<p>I have a right to my anger, and I don't want anybody telling me I shouldn't be, that it's not nice to be, and that something's wrong with me because I get angry.</p>
		</div>

		<div class="quote">
			<h1>Robert Breasson</h1>
			<p>I always like a good math solution to any love problem.</p>
		</div>

		<div class="quote">
			<h1>Lina Roccár</h1>
			<p>I have a right to my anger, and I don't want anybody telling me I shouldn't be, that it's not nice to be, and that something's wrong with me because I get angry.</p>
		</div>
	</div>

	<div class="threecol">
		<div class="quote">
			<h1>Pelé Noire</h1>
			<p>Mountains inspire awe in any human person who has a soul. They remind us of our frailty, our unimportance, of the briefness of our span upon this earth. They touch the heavens, and sail serenely at an altitude beyond even the imaginings of a mere mortal.</p>
		</div>

		<div class="quote">
			<h1>Jean-Robert Moliere</h1>
			<p>I have a right to my anger, and I don't want anybody telling me I shouldn't be, that it's not nice to be, and that something's wrong with me because I get angry.</p>
		</div>
	</div>

	<div class="threecol">
		<div class="quote">
			<h1>Karl Lagerfeldt</h1>
			<p>I don't like the sound of all those lists he's making - it's like taking too many notes at school; you feel you've achieved something when you haven't.</p>
		</div>

		<div class="quote">
			<h1>Angela Merkel</h1>
			<p>Oh, life is a glorious cycle of song,<br/>
		A medley of extemporanea; <br/>
		And love is a thing that can never go wrong; <br/>
		And I am Marie of Romania.</p>
		</div>
	</div>

	<div class="threecol last">
		<div class="quote">
			<h1>Robert Breasson</h1>
			<p>I have a right to my anger, and I don't want anybody telling me I shouldn't be, that it's not nice to be, and that something's wrong with me because I get angry.</p>
		</div>

		<div class="quote">
			<h1>Robert Breasson</h1>
			<p>I always like a good math solution to any love problem.</p>
		</div>

		<div class="quote">
			<h1>Lina Roccár</h1>
			<p>I have a right to my anger, and I don't want anybody telling me I shouldn't be, that it's not nice to be, and that something's wrong with me because I get angry.</p>
		</div>
	</div>
</div>
!-->