<div class="popup">
	<ul class="unused-tags q-<%= quote.id %>">
		<% tags.each do |tag| %>
			<%= render :partial => 'quotes/popup_tag', locals: { quote: quote, tag: tag } %>
		<% end %>
	</ul>
	<div class="popup-triangle"></div>
	<input type='text' class='popup-new-tag' data-qid="<%= quote.id %>" placeholder='Create a new tag'>
	<input type="submit" value="Add new tag" class="popup-new-tag-submit">
</div>