<li>
	<%= check_box_tag "source_ids[]", source.id, false, :id => "source_ids_#{source.id}" %>
	<%= label_tag "source_checkbox", source.hostname, :class => :hostname %>
	<%= image_tag source.favicon, :class => :favicon %>
</li>