<div class="container--full-size beige flex direction--column space-between center--vertical quote--show t-theme2">
	<%= link_to "ettúi.", board_path(@quote.boards.first), class: "c-ettui-logo" %>
	<% if @quote %>
		<%= render @quote %>
	<% end %>
	<div class="quote-author centered">
		<h3 class="subtitle subtitle--all-caps">Curated by</h3>
		<% if @user.twitter_image_url.empty? %>
		<%= link_to current_user.name || current_user.email, profile_path, {:style=> 'background-color: rgba(0, 0, 0, .07); padding: 1px 6px 3px; border-radius: 8px; color: #666; font-weight: 600; max-width: 100px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;'}  %>
		<% else %>
			<%= link_to image_tag(@user.twitter_image_url, class: "a-profile_image"), @user %>
		<% end %>
	</div>
</div>