<div class="content-container">
    <ol class="quotes-container">
    	<div class="options">
        	<%= link_to "< Back to the board", boards_path, :class => "small button" %>
		</div>        
        <% if !@quote.nil? %>
            <div class="quotes-list">
              <%= render @quote %>
            </div>
        <% end %>
        <div class="options">
        	<p>Added by <%= current_user.name || current_user.email %></p>
        	<% if @quote.boards.first.user_id.eql?(current_user.id) %>
	    		<%= link_to "Delete this quote", @quote, method: :delete, :class => "small button remove" %>
	    	<% end %>
		</div>
    </ol>
</div>