<div class="user-form">
	<%= form_tag sessions_path do %>
		<div class="field">
			<%= text_field_tag :email, params[:email], :placeholder => "Electronic mail address" %>
		</div>
		<div class="field">
			<%= password_field_tag :password, params[:id], :placeholder => "Password" %>
		</div>
		<div class="actions">
			<%= submit_tag "Sign in", :id => "submit_login", :class => "primary button stay" %>
		</div>
	<% end %>
</div>