<div id="welcome-container">
	<div class="spacer-65">
		<%= image_tag "twitter-bird-color.png" %>
	</div>
		<div class="welcome-1 mbottom mtop">
		<%= render 'shared/welcome' %>
  	</div>
  	<div class="v_divider"></div>
  	<div class="welcome-2 mtop mleft">
  		<div class="signup-description">
  			<h1>A tool for you.</h1>
  			<p>
  				It lets you save text in a click, using a nifty bookmark.
				When you read something you like, simply highlight it and click Well Said.
			</p>
  		</div>
  			<%= render 'login_form' %>
  	</div>
</div>
<div class="divider"></div>
<%= render 'shared/quotes' %>