<div id="welcome-container">
	<div class="spacer-65">
		<%= image_tag "twitter-bird-color.png" %>
	</div>
		<div class="welcome-1 mbottom mtop">
		<%= render 'shared/welcome' %>
  	</div>
  	<div class="v_divider"></div>
  	<div class="welcome-2 mtop mleft">
  		<%= render 'login_form' %>
  	</div>
</div>
<div class="divider"></div>
<%= render 'shared/quotes' %>