<div class="o-authentication t-black">
  <header>
       <a href="/" class="c-noted-logo"></a>
  </header>
  <div class="o-form_container">
    <h1>Welcome back</h1>
    <h4>Sign in using e-mail or through Twitter.</h4>
    <%= link_to "/auth/twitter?image_size=original", class: "twitter primary button stay" do %>
      Connect using Twitter
    <% end %>
    <h4>Or e-mail</h4>
    <%= render "login_form" %>
  </div>
</div>