<%= render "shared/header" %>
  <div class="content-column">
    <div class="content-wrapper yellow">
      <h1>Hey there, welcome back.</h1>
      <h3>You can log in through Twitter or using your e-mail address.</h3>
      <%= link_to "/auth/twitter?image_size=original", class: "twitter button" do %>
        <span class="socicon">a</span>Log in using Twitter
      <% end %>
      <h3 class="supportive">Log in using e-mail</h3>
      <%= render 'login_form' %>
    </div>
  </div>
<!--<%= render "shared/footer" %>!-->