<div class="landing-form">
	<%= render 'login_form' %>
</div>
<div class="description-column">
	<h1 class="underline">What's Well Said?</h1>
	<p>The service Well Said is developed because words inspire, question and surprise us. And  they're the one thing we hate losing track of.</p>
	<p>Well Said keeps track. In a single click.</p>
	<p>Try the <mark>demo</mark> or get started to your left.</p>
</div>