<div class="signup-wrapper">
	<div class="signup-container">
		<h1>Hey there, welcome back.</h1>
		<%= link_to "Login using Twitter", "/auth/twitter?image_size=original", class: "twitter button" %>
		<p class="supportive">Or using email</p>
		<%= render 'login_form' %>
		<footer>
			<a href="#">About</a>
			<a href="#">Press</a>
		</footer>
	</div>
</div>
<div class="notedapp-splash">
</div>