<% if !current_user %>
	<!-- Render sign up form !-->
	Lolo
<% else %>
	<!-- Render welcome {user} !-->
	Lele
<% end %>

<nav>
	<div>
		<%= link_to (image_tag "logo.png"), '/' %>
		<h3 id="logo">WRTTN</h3>
	 	
	</div>
</nav>
<header>
</header>

<div id="gridset-wrapper">
	<div class="d-all" id="login">
		<%= render 'login_form' %>
	</div>
</div>