@import "../components/variables", "../typography/fonts";

@media screen and (min-width : 240px) {

  .o-content_container__title {
    margin-top: 1.7rem;
    margin-bottom: 1rem;
  }

  .icon-menu {
    margin-top: 1.7rem;
  }

  .o-content_container {
    padding: 0 28px;
  }

  .o-content_container h1,
  .o-quotes_container,
  .icon-menu {
    min-width: 240px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .c-quote__content.big h1 {
    font-size: 18px;
    line-height: 1.25em;
  }

  .c-quote__content h1 {
    font-size: 13px;
    line-height: 1.4em;
  }

  .c-quote__content.small h1 {
    font-size: 10px;
    line-height: 1.5em;
    letter-spacing: 0;
  }

  .c-quote__metadata > .c-quote__favicon {
  }

  .c-quote__tags {
    padding-bottom: 0px;
    margin-bottom: 7px;
    margin-top: 10px;
  }
}

@media screen and (min-width : 340px) {
  .c-quote__content.big h1 {
    font-size: 29px;
  }

  .c-quote__content h1 {
    font-size: 20px;
  }

  .c-quote__content.small h1 {
    font-size: 16px;
  }

  .c-quote__metadata > .c-quote__title,
  .c-quote__metadata > .c-quote__author {
    font-size: 14.5px;
  }

  .c-quote__tags {
    padding-bottom: 14px;
    margin-bottom: 14px;
    margin-top: 20px;
  }
}

@media screen and (min-width : 480px) {

}

@media screen and (min-width : 768px) {
  .c-quote {
    width: 100%;
    padding: 14px 0;
  }
}

@media screen and (min-width : 769px) {
  .o-content_container__title {
    text-align: left;
  }

  .o-content_container h1,
  .o-quotes_container,
  .icon-menu {
    min-width: 480px;
    max-width: 600px;
  }

  .c-quote__metadata > .c-quote__favicon {
    width: 20px;
    height: 20px;
  }
}

@media screen and (min-width : 960px) {

  .c-quote {
    width: 100%;
    padding: 20px 0;
  }

  .c-sidebar_container {
    display: flex;
    flex-direction: column;
  }

  .o-content_container__title {
    margin-top: 0;
    padding-top: 3.7rem;
    padding-bottom: 1.375rem;
    font-kerning: normal;
  }

  .c-quote__content.big h1 {
    font-size: 32px;
    line-height: 1.25em;
    letter-spacing: -.5px;
  }

  .c-quote__content h1 {
    font-size: 22px;
    line-height: 1.4em;
  }

  .c-quote__content.small h1 {
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0;
  }

  .c-quote__content.small h1 em {
    font-size: 14px;
  }

  .c-quote__metadata.c-quote__metadata--primary {
    // line-height: 1.75;
    font-size: 16px;
  }

  .c-quote__metadata > .c-quote__title,
  .c-quote__metadata > .c-quote__author {
    font-size: 14px;
  }

  .c-tag__name {
    font-size: 14px;
  }

  .c-quote__remove {
    margin-top: 20px;
  }
}

@media screen and (min-width : 1180px) {

  .c-quote {
    width: 100%;
    padding: 28px 0;
  }

  .c-quote__remove {
    margin-top: 12px;
  }

  .c-quote__content.big h1 {
    font-size: 40px;
    line-height: 1.25em;
    letter-spacing: -1px;
  }

  .c-quote__content h1 {
    font-size: 24px;
    line-height: 1.35em;
  }

  .c-quote__content.small h1 {
    font-size: 18px;
    line-height: 1.5em;
    letter-spacing: 0;
  }

  .c-quote__content.small h1 em {
    font-size: 15px;
  }

  .c-quote__tags {
    padding-bottom: 14px;
    margin-bottom: 14px;
    margin-top: 10px;
  }
}
