.noted-spinner {
  width: 30px;
  height: 30px;
  background-color: #918f8b;

  margin: 58px auto 0 auto;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.noted-bookmarklet {
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  width: calc(100% - 40px);
  max-width: 360px;
  background-color: #242322;
  z-index: 999999999;
  position: fixed;
  top: 120px;
  left: calc(50% - 180px);
  opacity: 1;
  padding-bottom: 20px;
  box-shadow: 0 0 61px rgba(0, 0, 0, 0.23);
  transition: max-height 1s ease-out;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  color: #9e9c98;
}

.noted-bookmarklet .noted-logo.visible,
.noted-bookmarklet .noted-close.visible,
.noted-bookmarklet .noted-tag,
.noted-bookmarklet #noted-close-btn,
.noted-bookmarklet input {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

@media only screen and (min-width : 280px) and (max-width : 400px) {
  .noted-bookmarklet {
    left: 20px;
    top: 20px;
  }
}

.noted-bookmarklet .noted-logo,
.noted-bookmarklet .noted-close {
  opacity: 0;
  transition: opacity .83s;
  margin-top: 20px;
}

.noted-bookmarklet .noted-logo.visible,
.noted-bookmarklet .noted-close.visible {
  display: block;
  opacity: 1;
  background-size: contain;
}

.noted-bookmarklet .noted-logo {
  float: left;
  margin-left: 20px;
  height: 24px;
  width: 24px;
  background: transparent url('http://notedapp.herokuapp.com/bookmarklet_logo.png') no-repeat;
}

.noted-bookmarklet .noted-close {
  float: right;
  margin-right: 20px;
  height: 19px;
  width: 19px;
  background-size: 19px;
  background: transparent url('http://notedapp.herokuapp.com/bookmarklet_close.png') no-repeat;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
    /* Retina-specific stuff here */

    .noted-bookmarklet .noted-logo {
      background-image: url('http://notedapp.herokuapp.com/bookmarklet_logo@2x.png');
    }

    .noted-bookmarklet .noted-close {
      background-image: url('http://notedapp.herokuapp.com/bookmarklet_close@2x.png');
    }
}

.noted-bookmarklet .status-message,
.noted-bookmarklet .sub-message,
.noted-bookmarklet .noted-tag,
.noted-bookmarklet input {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

.noted-bookmarklet .status-message,
.noted-bookmarklet .noted-tag:hover,
.noted-bookmarklet .noted-tag.selected,
.noted-bookmarklet #noted-close-btn,
.noted-bookmarklet input {
  color: #f6f3f0;
}

.noted-bookmarklet .status-message {
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 5px;
  font-size: 20px;
  clear: both;
}

.noted-bookmarklet .sub-message {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0;
  font-weight: 300;
  line-height: 14px;
}

.noted-bookmarklet .noted-content-container {
  overflow: auto;
  display: none;
}


.noted-bookmarklet .noted-tag {
  width: 100%;
  height: 28px;
  line-height: 28px;
  background-color: transparent;
  text-transform: lowercase;
  list-style-type: none;
  border-bottom: solid 1px #333130;
  transition: color .06s ease-out;
  margin: 0;
  font-weight: 300;
  font-size: 12px;
}

.noted-bookmarklet .noted-tag:hover {
  cursor: pointer;
}

.noted-bookmarklet .noted-tag:first-of-type {
  border-top: solid 1px #333130;
}

.noted-bookmarklet .noted-tag.selected {
  background-color: #333130;
}

.noted-bookmarklet .noted-tag:before {
  content: '#';
}

.noted-bookmarklet .add-tag-container {
  width: calc(100% - 40px);
  margin: 0 auto;
  overflow: auto;
}

.noted-bookmarklet input#noted-new-tag,
.noted-bookmarklet input#noted-new-tag-submit {
  height: 36px;
  line-height: 36px;
}

.noted-bookmarklet input#noted-new-tag {
  border: none;
  background-color: rgba(0, 0, 0, .19);
  padding: 0px 14px;
  box-sizing: border-box;
  text-align: center;
  margin: 20px auto;
  border-radius: 3px;
  outline: transparent;
  box-shadow: none;
  font-weight: 300;
  float: left;
  width: calc(100% - 50px);
}

.noted-bookmarklet input#noted-new-tag-submit {
  -webkit-appearance: none;
  color: #f6f3f0;
  background-color: #333130;
  border: none;
  line-height: 35px;
  width: 45px;
  height: 35px;
  border-radius: 3px;
  margin: 20px 0;
  padding: 0 10px;
  float: right;
  text-align: center;
}

.noted-bookmarklet input#noted-new-tag-submit:active {
  outline: none;
}

.noted-bookmarklet input#noted-new-tag:hover,
.noted-bookmarklet input#noted-new-tag-submit:hover,
.noted-bookmarklet #noted-close-btn {
  background-color: rgba(0, 0, 0, .29);
}

.noted-bookmarklet input#noted-new-tag::-webkit-input-placeholder {  
   font-style: italic;
   color: #333130;
}

.noted-bookmarklet #noted-close-btn {
  display: inline-block;
  text-align: center;
  border: none;
  background-color: #333130;
  margin: 0 auto;
  padding: 6px 10px 8px;
  text-decoration: none;
  border-radius: 3px;
  font-weight: 300;
  line-height: 15px;
}
