.noted-spinner {
  width: 30px;
  height: 30px;
  background-color: #6CDAB7;

  margin: 58px auto 0 auto;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

li.noted-tag:before {
	content: '#';
}

li.noted-tag {
	width: 100%;
	height: 54px;
	background-color: transparent;
	color: #999;
	text-align: center;
	text-transform: lowercase;
	line-height: 54px;
	font-size: 16px;
	list-style-type: none;
	font-family: Helvetica, Arial, sans-serif;
	border-bottom: solid 1px #ccc;
	transition: color .06s ease-out;
	font-weight: bold;
	font-family: "Open Sans", sans-serif !important;
}

li.noted-tag:first-of-type {
	border-top: solid 1px #ccc;
}

li.noted-tag:hover {
	color: #333;
}

li.noted-tag.selected {
	background-color: #6CDAB7;
	color: #fff;
	border-color: #42C79C;
}

li.noted-tag.selected:first-of-type {
	border-top: none;
}

li.noted-tag.selected:last-of-type {
	border-bottom: none;
}

.noted-content-container {
	overflow: auto;
	display: none;
	opacity: 0;
}

.noted-bookmarklet {
	width: 380px;
	max-height: 147px;
	background-color: #f6f3f0;
	z-index: 20000;
	position: fixed;
	top: 48px;
	opacity: 1;
	padding-bottom: 40px;
	box-shadow: 0 0 61px rgba(0, 0, 0, 0.23);
	-webkit-font-smoothing: antialiased;
	transition: max-height .67s ease-out;
}

.status-message {
	padding-top: 40px;
	font-size: 26px;
}

.status-message, .sub-message {
	text-align: center;
	margin-bottom: 0;
	color: #333;
	font-family: 'Crimson Text', serif;
	font-weight: 400;
	font-style: normal;
	text-transform: none;
}

.sub-message {
	padding-bottom: 40px;
	color: #999;
	line-height: 32px;
	font-size: 16px;
}

#noted-new-tag {
	padding: 17px 0;
	width: 284px;
	height: 54px;
	line-height: 20px;
	font-size: 16px;
	font-family: "Open Sans", sans-serif !important;
	border: solid 1px #ccc;
	background-color: transparent;
	padding: 0px 16px;
	box-sizing: border-box;
	text-align: center;
	margin: 32px 0 0 48px;
	border-radius: 2px;
	color: #333;
	outline: transparent;
}

#noted-new-tag:hover {
	border-color: #333;
}

#noted-new-tag::-webkit-input-placeholder {  
   font-style: italic;
   color: #aaa;
}

#noted-close-btn {
	display: block;
	text-align: center;
	font-family: "Open Sans", sans-serif !important;
	font-size: 16px;
	color: #333;
	border-bottom: solid 4px #ccc;
	width: 108px;
	font-weight: 600;
	padding-bottom: 4px;
	margin: 40px auto 0 auto;
}

#noted-close-btn:hover {
	text-decoration: none;
	border-bottom: solid 4px #333;
}

