.noted-spinner {
  width: 30px;
  height: 30px;
  background-color: #918f8b;

  margin: 58px auto 0 auto;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.noted-bookmarklet {
	width: calc(100% - 40px);
	max-width: 360px;
	max-height: 147px;
	background-color: #3d3c3a;
	z-index: 20000;
	position: fixed;
	top: 80px;
	left: calc(50% - 180px);
	opacity: 1;
	padding-bottom: 28px;
	box-shadow: 0 0 61px rgba(0, 0, 0, 0.23);
	-webkit-font-smoothing: antialiased;
	transition: max-height .67s ease-out;
	font-family: "Open Sans", Helvetica, sans-serif;
	font-weight: 300;
	font-size: 14px;
	text-align: center;
	color: #9e9c98;
}

@media only screen and (min-width : 280px) and (max-width : 400px) {
	.noted-bookmarklet {
		left: 20px;
		top: 20px;
	}
}

.noted-bookmarklet .noted-logo,
.noted-bookmarklet .noted-close {
	opacity: 0;
	transition: opacity .83s;
	margin-top: 20px;
}

.noted-bookmarklet .noted-logo.visible,
.noted-bookmarklet .noted-close.visible {
	display: block;
	opacity: 1;
}

.noted-bookmarklet .noted-logo {
	float: left;
	margin-left: 20px;
}

.noted-bookmarklet .noted-close.visible {
	float: right;
	margin-right: 20px;
}

.noted-bookmarklet .status-message,
.noted-bookmarklet .sub-message,
.noted-bookmarklet .noted-tag,
.noted-bookmarklet input {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	color: inherit;
}

.noted-bookmarklet .status-message,
.noted-bookmarklet .noted-tag:hover,
.noted-bookmarklet .noted-tag.selected,
.noted-bookmarklet #noted-close-btn,
.noted-bookmarklet input {
	color: #f6f3f0;
}

.noted-bookmarklet .status-message {
	font-weight: 600;
	margin-top: 40px;
	margin-bottom: 5px;
	font-size: 20px;
	clear: both;
}

.noted-bookmarklet .sub-message {
	text-align: center;
	margin-bottom: 28px;
	margin-top: 0;
	font-weight: 300;
	line-height: 14px;
}

.noted-bookmarklet .noted-content-container {
	overflow: auto;
	display: none;
}


.noted-bookmarklet .noted-tag {
	width: 100%;
	height: 36px;
	line-height: 36px;
	background-color: transparent;
	text-transform: lowercase;
	list-style-type: none;
	border-bottom: solid 1px #595857;
	transition: color .06s ease-out;
	margin: 0;
	font-weight: 300;
}

.noted-bookmarklet .noted-tag:hover {
	cursor: pointer;
}

.noted-bookmarklet .noted-tag:first-of-type {
	border-top: solid 1px #595857;
}

.noted-bookmarklet .noted-tag.selected {
	background-color: #595857;
}

.noted-bookmarklet .noted-tag:before {
	content: '#';
}

.noted-bookmarklet input#noted-new-tag {
	width: calc(100% - 40px);
	height: 36px;
	line-height: 36px;
	border: none;
	background-color: rgba(0, 0, 0, .19);
	padding: 0px 14px;
	box-sizing: border-box;
	text-align: center;
	margin: 20px auto;
	border-radius: 3px;
	outline: transparent;
	box-shadow: none;
	font-weight: 300;
}

.noted-bookmarklet input#noted-new-tag:hover {
	background-color: rgba(0, 0, 0, .29);
}

.noted-bookmarklet input#noted-new-tag::-webkit-input-placeholder {  
   font-style: italic;
   color: #595857;
}

.noted-bookmarklet #noted-close-btn {
	display: inline-block;
	text-align: center;
	border: none;
	background-color: #595857;
	margin: 0 auto;
	padding: 6px 10px 8px;
	text-decoration: none;
	border-radius: 3px;
	font-weight: 300;
	line-height: 15px;
}