<header class="landing-page-header center">
     <a href="/" class="noted-logo"></a>
</header>
<div class="login-signup-container">
	<h1>Installing your boomarklet.</h1>
	<h4>Creating an account is free.</h4>
	<div class="segmented-control-container">
    	<div class="segment-control is-selected">
    		<h4>Desktop</h4>
    	</div>
    	<div class="segment-control">
    		<h4>Mobile</h4>
    	</div>
    </div>
	<div class="segmented-content-viewport">
	    <div class="segmented-content-container">
	    	<div class="segmented-content">
	    		<div id="desktop">
			    	<h3>Drag the button below to your bookmarks bar.</h3>
			        <div class="bookmarklet-container">
			            <a class="big button" href="javascript:(function() {
			            document.body.appendChild(document.createElement('script')).src='https://notedapp.herokuapp.com/bookmarklet.js';
			            current_user_token = '<%= current_user.token %>';
			            })();">Noted Bookmarklet</a>
			            <p>
			              The bookmarks bar is located below the address bar.
			            </p>
			        </div>
			        <%= link_to continue_path, class: "secondary button" do %>
			          Go to my board
			        <% end %>
			    </div>
	    	</div>
	    	<div class="segmented-content">
	    		<div id="mobile">
		        	<h3>Create a bookmark of this page and name it 'Save to Noted'.</h3>
		        	<h4>Then highlight and copy the code below.</h4>
		        	<div class="bookmarklet-container">
			            <code>
			              	javascript:(function() {
				            document.body.appendChild(document.createElement('script')).src='https://notedapp.herokuapp.com/bookmarklet.js';
				            current_user_token = '<%= current_user.token %>';
				            })();
			            </code>
			        </div>
			        <p>At last edit the bookmark you added and replace its URL with the code you copied.</p>
			        <%= link_to continue_path, class: "secondary button" do %>
			          Go to my board
			        <% end %>
			    </div>
	    	</div>
	    </div>
	</div>
</div>