<div class="splash-row-container">
	<div class="splash-row">
		<div class="column image">
			<%= image_tag "N_INTRO_1.gif" %>
		</div>
		<div class="column">
			<div>
				<h1>Forget about copy and paste.</h1>
				<p>Simply <em>highlight a piece of text</em> worth remembering and click on  your noted bookmarklet, this saves it to your personal board.</p>
			</div>
		</div>
	</div>
</div>
<div class="splash-row-container">
	<div class="splash-row">
		<div class="column right image">
			<%= image_tag "N_INTRO_3.png" %>
		</div>
		<div class="column">
			<div>
				<h1>Keep track of memorable quotes.</h1>
				<p>Noted works wherever you can add bookmarks. This includes most smartphones and tablets, thus making it easy to save and manage your quotes at any time, from any device, anywhere.</p>
			</div>
		</div>
	</div>
</div>
<div class="splash-row-container">
	<div class="splash-row">
		<div class="column image">
			<%= image_tag "N_INTRO_2.gif" %>
		</div>
		<div class="column">
			<div>
				<h1>Find it even if you can't remember it.</h1>
				<p>Full text search combined with filters makes it easy to find the quote you are looking for, based on where it is from, its tags or text it includes.</p>
			</div>
		</div>
	</div>
</div>
