<h1>An easy way of saving memorable quotes for later.</h1>
<h2>So forget about copy & paste and give it a try.</h2>
<%= link_to "Create an account", signup_path, :class => "big button" %>
<div class="learn-more-container">
	<a href="#!" id="learn-more">Learn more?</a>
</div>