<div class="background splash-container">
    <div class="row splash">
        <div class="col splash-copy">
            <h1>Collect & organize memorable reads.</h1>
            <h2>Noted is a bookmarklet that enables you to collect and organize highlighted text from any website with one click.</h2>
            <div class="call-to-action">
                <%= link_to "Get started", signup_path, :class => "button" %>
                <p class="inline">or</p>
                <%= link_to "Sign in", login_path %>
            </div>
        </div>
        <div class="col span_1">&nbsp;</div>
        <div class="col splash-image">
            <%= image_tag "splash-image.png" %>
        </div>
    </div>
</div>
<div class="background dark">
    <div class="row usps">
        <div class="col usp">
            <h3>Forget about copy and paste.</h3>
            <p>This bookmarklet enables you to collect and organize highlighted text from any website with one click.</p>
        </div>
        <div class="col span_1"><div class="vertical-line">&nbsp;</div></div>
        <div class="col usp">
            <h3>Memorable reads, in one place.</h3>
            <p>Keep track of all your memorable reads in one place and easily go back to the article they are from.</p>
        </div>
        <div class="col span_1"><div class="vertical-line">&nbsp;</div></div>
        <div class="col usp">
            <h3>Collect and explore anywhere.</h3>
            <p>Enjoy the benefit of collecting and accessing your memorable reads from any device, anywhere.</p>
        </div>
    </div>
</div>