<h1 class="splash-title">
	<em>Welcome to noted.</em>
	<br/>
	An easier way of
	<br/>
	saving memorable quotes.</h1>
<div class="splash-content-container">
	<h2>Forget about copy & paste and give it a try.</h2>
	<%= link_to "Create an account", signup_path, :class => "big button" %>
	<div class="learn-more-container">
		<a href="#!" id="learn-more">Learn more?</a>
	</div>
</div>