<h1 class="splash-title">
	<em>Welcome to noted.</em>
	<br/>
	An easy way to keep track
	<br/>
	of memorable quotes.
</h1>
<p class="splash-description">
When signing up you get a bookmarklet that lets you save text from
any site instantly. So forget about copy & paste and give it a try.
</p>
<%= link_to "Create an account", signup_path, :class => "primary button" %>
<div class="learn-more">
	<p>Learn more</p>
</div>
