<!--

	A page containing everything the user needs to set up his or her bookmarklet.
	For Desktop and mobile.

!-->
<div class="content-container">
	<div class="splash-container">
		<%= render "bookmarklet" %>
	</div>
</div>