<div class="signup-wrapper">
  <div class="signup-container">
    <h1>A simple tool that helps you keep track of memorable reads.</h1>
    <%= link_to "Sign up using Twitter", "/auth/twitter?image_size=original", class: "twitter button" %>
    <%= link_to "Sign up using your email", signup_path, class: "email button" %>
    <%= link_to "Already have an account? Login here.", login_path, :class => "login" %>
    <footer>
      <a href="#">About</a>
      <a href="#">Press</a>
    </footer>
  </div>
</div>