<%= render "shared/header" %>
<div id="introduction">
    <div class="content-wrapper">
        <h1>Organize and keep track of memorable reads.</h1>
        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus semper orci eget enim sodales, et faucibus libero tempus.</h3>
        <%= link_to "Get started", signup_path, :class => "button" %>
        <br/>
        <p>Already have an account? </p><%= link_to "Login here.", login_path, :class => "login" %>
    </div>
</div>
<%= render "shared/footer" %>