<div class="splash-container">
<%= render "shared/header" %>
  <div class="intro-container">
        <h1>Installing the bookmarklet.</h1>
        <h2>The bookmarklet is essential in order to use noted.<br/>Here's how you install it.</h2>
        <h3 class="progress-item">1</h3>
        <div class="bookmarklet-container">
            <a class="big button" href="javascript:(function() {
            document.body.appendChild(document.createElement('script')).src='https://notedapp.herokuapp.com/bookmarklet.js';
            current_user_token = '<%= current_user.token %>';
            })();">Drag me to your bookmarks bar</a>
            <p>
              The bookmarks bar is located below the address bar.
            </p>
        </div>
        <h3 class="progress-item">2</h3>
        <h2>Let us try your new bookmarklet!<br/>Highlight the text below and click the bookmarklet.</h2>
        <blockquote>
          Talent is Overrated by Geoffrey Colvin. It has nothing to do with design, but rather teaches them about work ethic and purpose. The real path to great perfomance is a matter of choice.
        </blockquote>
        <%= link_to continue_path, class: "big button" do %>
          Continue to my board
        <% end %>
      </div>
  </div>
</div>