<div id="welcome-container">
	<div class="spacer-65">
		<%= image_tag "twitter-bird-color.png" %>
	</div>
		<div class="welcome-1 mbottom mtop">
		<%= render 'shared/welcome' %>
  	</div>
  	<div class="v_divider"></div>
  	<div class="welcome-2 mtop mleft">
  		<%= render 'form' %>
  		<div class="signup-description">
  			<h1>Copy and </h1><h1 class="overline">paste</h1><h1>.</h1>
  			<p>
  				Forget copy and paste. With Well Said you store good reads with a click.</p>
				<p>Sign up to get your own Well Said bookmark now.</p>
  		</div>	
  	</div>
</div>
<div class="divider"></div>
<%= render 'shared/quotes' %>