<div class="signup-wrapper">
	<div class="signup-container">
		<h1>A tool for people who hate losing track of memorable reads.</h1>
		<p class="one-liner"></p>
		<%= link_to "Give it a try", "/auth/twitter?image_size=original", class: "signup-twitter" %>
		<!--<%= render 'form' %>!-->
	</div>
</div>
<div class="notedapp-splash">
</div>