<div class="landing-form">
	<% if session[:user_id] %>
		<%= render 'profile' %>
	<% else %>
		<%= render 'form' %>
	<% end %>
</div>
<div class="description-column">
	<h1 class="underline">What's Well Said?</h1>
	<p>The service Well Said is developed because words inspire, question and surprise us. And  they're the one thing we hate losing track of.</p>
	<p>Well Said keeps track. In a single click.</p>
	<p>Try the <mark>demo</mark> or get started to your left.</p>
</div>

<% if !current_user %>
 	<%= link_to "Sign in with Twitter", "/auth/twitter" %>
<% end %>