<header>
    <div class="content-wrapper">
        <div class="logo-container">
            <%= link_to (image_tag "logo-48.png"), "/" %>
        </div>
        <div class="header-links-container">
            <%= link_to "Log in", login_path %>
            <%= link_to "Sign up", signup_path, :class => "primary" %>
        </div>
    </div>
</header>