<header class="landing-page-header">
     <a href="/" class="c-noted-logo"></a>
    <%= link_to "Sign in", login_path, :class => "button" %>
    <%= link_to "Register", signup_path, :class => "primary button" %>
</header>
