<li class="sidebar-list-item t-<%= tag.id %> <%= @search.tag_classes(tag) %>">
	<%= link_to tag.name.truncate(30), filter_board_quotes_path(@board, @search.update_params_for(tag)), class: "sidebar-list-button" %>
	<div class="filter-count">
		<p><%= tag.count_for(@board) %></p>
	</div>
</li>