<%= image_tag "wellsaid-intro.png" %>
<div id="introduction">
	<h2 class="bold">
		If you tend to copy & paste the good parts from articles you read, we got good news for you. We got rid of the pasting.
	</h2>
	<h2>
		In one click Well Said collects a highlighted quote, attaches it to your profile and soon to come, shares it directly with your peers.
	</h2>

	<a href="#" onclick="highlight_sign_up()" class="bold">Sign up</a><h2> to start your own collection.</h2>
</div>
<div class="v_divider"></div>
<div id="sign_up">

</div>