<p>Well Said helps you gather and share quotes you love, with one single click.</p>
<div id="signup-twitter">
  <%= link_to "/auth/twitter" do %>
    <%= image_tag "twitter-bird.png", :height => "32px" %>
    <p>Sign in using Twitter</p>
  <% end %>
</div>
<p>Or with an e-mail to your right.</p>
