<h1 class="white">Well Said helps you gather and share quotes you love, in one single click.</h1>
<div id="signup-twitter" class="mleft mtop">
  <%= link_to "/auth/twitter" do %>
    <p class="white">Sign up using Twitter</p>
  <% end %>
</div>
<p class="white note">Or with an e-mail to your right.</p>
