<div class='legal-wrapper'>
	<div class='legal'>
		<%= link_to 'ettúi', '/', class: 'c-ettui-logo' %>
		<h1>Terms of Service.</h1>

		<p>The following terms and conditions govern all use of the Ettui.com website and all content, services, and products available at or through the website. Our Services are offered subject to your acceptance without modification of all of the terms and conditions contained herein and all other operating rules, policies (including, without limitation, <a href='http://www.ettui.com/legal/pp/'>Ettúi's Privacy Policy</a>) and procedures that may be published from time to time by Ettúi (collectively, the 'Agreement').
		You agree that we may automatically upgrade our Services, and these terms will apply to any upgrades. Please read this Agreement carefully before accessing or using our Services. By accessing or using any part of our services, you agree to become bound by the terms and conditions of this agreement. If you do not agree to all the terms and conditions of this agreement, then you may not access or use any of our services. If these terms and conditions are considered an offer by Ettúi, acceptance is expressly limited to these terms.</p>
		<p>Our Services are not directed to children younger than 13, and access and use of our Services is only offered to users 13 years of age or older. If you are under 13 years old, please do not register to use our Services. Any person who registers as a user or provides their personal information to our Services represents that they are 13 years of age or older. Use of our Services requires a Ettui.com account. You agree to provide us with complete and accurate information when you register for an account. You will be solely responsible and liable for any activity that occurs under your username. You are responsible for keeping your password secure.</p>

		<h2>1. Ettui.com.</h2>

		<ul>
			<li>
				<em>Your Ettui.com Account and Website.</em> If you create an account on Ettui.com, you are responsible for maintaining the security of your account, and you are fully responsible for all activities that occur under the account and any other actions taken in connection with the account. You must immediately notify Ettúi of any unauthorized uses of your account or any other breaches of security. Ettúi will not be liable for any acts or omissions by you, including any damages of any kind incurred as a result of such acts or omissions.
			</li>
			<li>
				<em>Responsibility of Contributors.</em> If you post material to Ettui.com, post links on Ettui.com, or otherwise make (or allow any third party to make) material available (any such material, 'Content'), you are entirely responsible for the content of, and any harm resulting from, that Content or your conduct. That is the case regardless of what form the Content takes, which includes, but is not limited to text, photo, video, audio, or code. By using Ettui.com, you represent and warrant that your Content and conduct do not violate these terms. You give other Ettui.com users permission to share your Content on Ettúi and add their own Content to it (aka to repost your Content), so long as they use only a portion of your post and they give you credit as the original author by linking back to your website. If you delete Content, Ettúi will use reasonable efforts to remove it from Ettui.com, but you acknowledge that caching or references to the Content may not be made immediately unavailable. Without limiting any of those representations or warranties, Ettúi has the right (though not the obligation) to, in Ettúi's sole discretion, (i) refuse or remove any content that, in Ettúi's reasonable opinion, violates any Ettúi policy or is in any way harmful or objectionable, or (ii) terminate or deny access to and use of Ettui.com to any individual or entity for any reason. Ettúi will have no obligation to provide a refund of any amounts previously paid.
			</li>
			<li>
				<em>Web Traffic.</em> We use a third party, Google Analytics, Google Inc. (“Google Analytics”), to measure Ettui.com’s audience and usage. If we or Google Analytics require additional documentation to verify ownership of your account, you agree to make reasonable efforts to accommodate such requests.
			</li>
			<li>
				<em>HTTPS.</em> We do not offer free HTTPS on all Ettui.com sites by default. Because of this Ettúi does not take responsibility should confidential data be sent to Ettúi servers.
			</li>
			<li>
				<em>Advertisements.</em> Ettúi reserves the right to display advertisements.
			</li>
		    <li>
		    	<em>General Terms.</em> As of 2016 Ettúi is not a paid service, however should that change, then by selecting an Upgrade you agree to pay Ettúi the monthly or annual subscription fees indicated for that service.
		    </li>
		</ul>

		<h2>2. Responsibility of Visitors.</h2>

		<p>Ettúi has not reviewed, and cannot review, all of the material, including computer software, posted to our Services, and cannot therefore be responsible for that material's content, use or effects. By operating our Services, Ettúi does not represent or imply that it endorses the material there posted, or that it believes such material to be accurate, useful, or non-harmful. You are responsible for taking precautions as necessary to protect yourself and your computer systems from viruses, worms, Trojan horses, and other harmful or destructive content. Our Services may contain content that is offensive, indecent, or otherwise objectionable, as well as content containing technical inaccuracies, typographical mistakes, and other errors. Our Services may also contain material that violates the privacy or publicity rights, or infringes the intellectual property and other proprietary rights, of third parties, or the downloading, copying or use of which is subject to additional terms and conditions, stated or unstated. Ettúi disclaims any responsibility for any harm resulting from the use by visitors of our Services, or from any downloading by those visitors of content there posted.</p>

		<h2>3. Content Posted on Other Websites.</h2>

		<p>We have not reviewed, and cannot review, all of the material, including computer software, made available through the websites and webpages to which Ettui.com links, and that link to Ettui.com. Ettúi does not have any control over those non-Ettui.com websites, and is not responsible for their contents or their use. By linking to a non-Ettui.com website, Ettúi does not represent or imply that it endorses such website. You are responsible for taking precautions as necessary to protect yourself and your computer systems from viruses, worms, Trojan horses, and other harmful or destructive content. Ettúi disclaims any responsibility for any harm resulting from your use of non-Ettui.com websites and webpages.</p>

		<h2>4. Copyright Infringement and DMCA Policy.</h2>

		<p>As Ettúi asks others to respect its intellectual property rights, it respects the intellectual property rights of others. If you believe that material located on or linked to by Ettui.com violates your copyright, you are encouraged to notify Ettúi in accordance with [Ettúi's Digital Millennium Copyright Act ('DMCA') Policy](http://Ettui.com/dmca-notice/). Ettúi will respond to all such notices, including as required or appropriate by removing the infringing material or disabling all links to the infringing material. Ettúi will terminate a visitor's access to and use of the Website if, under appropriate circumstances, the visitor is determined to be a repeat infringer of the copyrights or other intellectual property rights of Ettúi or others. In the case of such termination, Ettúi will have no obligation to provide a refund of any amounts previously paid to Ettúi.</p>

		<h2>5. Intellectual Property.</h2>

		<p>This Agreement does not transfer from Ettúi to you any Ettúi or third party intellectual property, and all right, title, and interest in and to such property will remain (as between the parties) solely with Ettúi. Ettui.com, the Ettui.com logo, and all other trademarks, service marks, graphics and logos used in connection with Ettui.com or our Services, are trademarks or registered trademarks of Ettúi or Ettúi's licensors. Other trademarks, service marks, graphics and logos used in connection with our Services may be the trademarks of other third parties. Your use of our Services grants you no right or license to reproduce or otherwise use any Ettúi or third-party trademarks.</p>

		<h2>6. Changes.</h2>

		<p>We are constantly updating our Services, and that means sometimes we have to change the legal terms under which our Services are offered. If we make changes that are material, we will let you know by posting on one of our blogs, or by sending you an email or other communication before the changes take effect. The notice will designate a reasonable period of time after which the new terms will take effect. If you disagree with our changes, then you should stop using our Services within the designated notice period. Your continued use of our Services will be subject to the new terms. However, any dispute that arose before the changes shall be governed by the Terms (including the binding individual arbitration clause) that were in place when the dispute arose.</p>

		<h2>7. Termination.</h2>

		<p>Ettúi may terminate your access to all or any part of our Services at any time, with or without cause, with or without notice, effective immediately. If you wish to terminate this Agreement or your Ettui.com account (if you have one), you may simply discontinue using our Services. All provisions of this Agreement which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>

		<h2>8. Disclaimer of Warranties.</h2>

		<p>Our Services are provided 'as is.' Ettúi and its suppliers and licensors hereby disclaim all warranties of any kind, express or implied, including, without limitation, the warranties of merchantability, fitness for a particular purpose and non-infringement. Neither Ettúi nor its suppliers and licensors, makes any warranty that our Services will be error free or that access thereto will be continuous or uninterrupted. You understand that you download from, or otherwise obtain content or services through, our Services at your own discretion and risk.</p>

		<h2>9. Limitation of Liability.</h2>

		<p>In no event will Ettúi, or its suppliers or licensors, be liable with respect to any subject matter of this Agreement under any contract, negligence, strict liability or other legal or equitable theory for: (i) any special, incidental or consequential damages; (ii) the cost of procurement for substitute products or services; (iii) for interruption of use or loss or corruption of data; or (iv) for any amounts that exceed the fees paid by you to Ettúi under this agreement during the twelve (12) month period prior to the cause of action. Ettúi shall have no liability for any failure or delay due to matters beyond their reasonable control. The foregoing shall not apply to the extent prohibited by applicable law.</p>

		<h2>10. General Representation and Warranty.</h2>

		<p>You represent and warrant that (i) your use of our Services will be in strict accordance with the Ettúi Privacy Policy, with this Agreement, and with all applicable laws and regulations (including without limitation any local laws or regulations in your country, state, city, or other governmental area, regarding online conduct and acceptable content, and including all applicable laws regarding the transmission of technical data exported from the United States or the country in which you reside) and (ii) your use of our Services will not infringe or misappropriate the intellectual property rights of any third party.</p>

		<h2>11. Indemnification.</h2>

		<p>You agree to indemnify and hold harmless Ettúi, its contractors, and its licensors, and their respective directors, officers, employees, and agents from and against any and all claims and expenses, including attorneys' fees, arising out of your use of our Services, including but not limited to your violation of this Agreement.</p>

		<h2>12. Translation.</h2>

		<p>These Terms of Service were originally written in English (US). We may translate these terms into other languages. In the event of a conflict between a translated version of these Terms of Service and the English version, the English version will control.</p>

		<h2>13. Miscellaneous.</h2>

		<p>This Agreement constitutes the entire agreement between Ettúi and you concerning the subject matter hereof, and they may only be modified by a written amendment signed by an authorized executive of Ettúi, or by the posting by Ettúi of a revised version. Claims for injunctive or equitable relief or claims regarding intellectual property rights may be brought in any competent court without the posting of a bond. If any part of this Agreement is held invalid or unenforceable, that part will be construed to reflect the parties' original intent, and the remaining portions will remain in full force and effect. A waiver by either party of any term or condition of this Agreement or any breach thereof, in any one instance, will not waive such term or condition or any subsequent breach thereof. You may assign your rights under this Agreement to any party that consents to, and agrees to be bound by, its terms and conditions; Ettúi may assign its rights under this Agreement without condition. This Agreement will be binding upon and will inure to the benefit of the parties, their successors and permitted assigns.</p>

		<h2>Change log:</h2>

		<ul>
			<li>
				<em>June 09, 2016</em>:  Initial draft.
			</li>
		</ul>
	</div>
</div>