@import "../components/variables", "../typography/fonts";

.container--full-size {
  width: 100%;
  min-height: 100%;
}

.container--full-size.flex {
  display: flex;
}

.flex.center--horizontal {
  justify-content: center;
}

.flex.space-between {
  justify-content: space-between;
}

.flex.center--vertical {
  align-items: center;
}

.flex.direction--column {
  flex-direction: column;
}

.c-sidebar_container::-webkit-scrollbar,
.o-content_container::-webkit-scrollbar {
	display: none;
}

.o-body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow-y: auto;
}

.o-full_screen {
  
}

.o-half_screen {
  width: 50%;
  float: left;
  + .o-half_screen {
    float: right;
  }
  + .o-half_screen--custom {
    float: left;
    width: 321px;
  }
}

.container {
  display: flex;
  flex-direction: column;
}

body.index .container {
	flex-direction: column;
}

.container.boards-show {
  flex-direction: row;
}

.o-content_container {
  width: 100%;
  margin: 0 auto;
}

.o-content_container,
.c-sidebar_container {
  /* Make itself scrollable */
  display: inline-block;
  vertical-align: top;
  height: 100%;
  min-height: 100%;
  overflow-y: scroll;
}

.t-white .o-content_container {
  background-color: #fff;
}

.o-content_container h1,
.o-quotes_container {
  min-width: 480px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.o-quotes_container + .o-quotes_container {
  padding-bottom: 132px;
}

.o-quotes_container.u-text-align-center > * {
  text-align: center;
}

.o-quotes_container .c-sidebar_container__search {
  border: none;
  border-bottom: solid 1px #ddd;
  border-radius: 0;
  text-align: left;
}

.o-quotes_container .c-sidebar_container__search .fa {
  float: right;
  color: $secondary--title--on-white;
}

.o-quotes_container .c-quote {
  margin-bottom: 0px;
}

.no-sidebar .o-content_container {
  margin-left: 0;
}

.no-sidebar .c-sidebar_container {
  display: none;
}

.o-sidebar_container h1,
.o-sidebar_container p,
.o-sidebar_container a,
.o-sidebar_container li,
.o-content_container * {
  font-family: $font-family-sans;
}

.o-content_container em {
  font-family: inherit;
  color: inherit;
}

.o-quotes_container__title {
  letter-spacing: -1px;
  font-weight: 100;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: .75rem;
  font-family: $font-family-sans;
  color: $secondary--title--on-white;
}

.o-centering_wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding: 80px 0;
}

.c-test_data {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 200px;
  text-align: center;
  padding: 26px;
  font-family: "Soleil";
  letter-spacing: -0.25px;
  background-color: green;
  color: white;
}
