<div class="sidebar-profile">
	<%= image_tag current_user_details.profile_image_url %>
	<%= link_to current_user_details.name, "/" %></h2>
	<p class="description"><%= current_user_details.description %></p>
</div>