<div class="quotes-list">
  <div class="quotes-list-information-container">
    <h1>You seem to be out of quotes.</h1>
    <h3>Here are a few sites that are popular amongst other users.</h3>
    <div class="recommendation-link">
      <%= link_to "medium.com", "http://www.medium.com" %>
    </div>
    <div class="recommendation-link">
      <%= link_to "alistapart.com", "http://www.alistapart.com" %>
    </div>
    <div class="recommendation-link">
      <%= link_to "thegreatdiscontent.com", "http://thegreatdiscontent.com" %>
    </div>
  </div>
</div>
