<li class="sidebar-padding">
	<%= check_box_tag "source_ids[]", source.id, false, :id => "source_ids_#{source.id}" %>
	<div class="source-favicon" style="background-image: url('<%= source.favicon %>');"></div>
	<button class="sidebar-list-button"><%= source.hostname.truncate(20) %></button>
	<div class="sidebar-item-count"><p><%= count_source_occurrences(source.id) %></p></div>
</li>