<li>
	<%= check_box_tag "tag_ids[]", tag.id, false, :id => "tag_ids_#{tag.id}" %>
	<button class="sidebar-list-button"><%= tag.name.truncate(20) %></button>
	<div class="filter-count"><p><%= tag.taggings_count / 2 %></p></div>
</li>