<div class="o-content_container">
  <h1 class="o-content_container__title">Demo quotes</h1>
  <div class="o-quotes_container">
    <% if !@quotes.empty? %>
        <ol>
          <%= render(@quotes) %>
        </ol>
      <% end %>
  </div>
</div>
