<%= render "boards/header" %>
<%= render "boards/sidebar" %>

<div class="quotes-container center-container">
	<h1 class="quotes-container-title">All quotes</h1>
    <% if !@quotes.empty? %>
        <ol>
          <%= render(@quotes) %>
        </ol>
    <% else %>
        <%= render "boards/out_of_quotes" %>
    <% end %>
</div>