<%= render "boards/sidebar" %>
<div class="o-content_container">
  <div class="icon-menu js-toggle-menu"></div>
  <div class="o-title_container">
    <h1 class="o-content_container__title">Listing <%= @quotes_container_title %></h1>
  </div>
  <div class="o-quotes_container">
    <% if !@quotes.empty? %>
        <ol>
          <%= render(@quotes) %>
        </ol>
      <% else %>
        <%= render "boards/out_of_quotes" %>
      <% end %>
  </div>
</div>
