$(".board-<%= @board.id %>").text('<%= @board.name %>')

if($(".welcome-splash")) {
	$(".welcome-splash").addClass('success');
	$(".welcome-splash form").remove();
	$(".welcome-splash .heading").text('Successfully renamed the board.');
	$(".welcome-splash").delay(1500).slideUp('fast', function() { $(this).remove(); });
} else {
	$(".container").prepend("<div class='notice'>Successfully updated board.</div>").slideDown('fast');
	$(".notice").delay(1300).slideUp('fast', function() { $(this).remove(); });
}