.c-ettui-logo {
  font-family: $font-family-display;
  font-size: 1.75rem;
  color: $primary--on-white;
  letter-spacing: -.5px;
}

.c-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
  width: 100%;
  height: 60px;
  max-width: 840px;
}

.c-profile_image {
  border-radius: 40px;
  background-color: rgba(0, 0, 0, .1);
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;

  img {
    border-radius: 40px;
    height: 40px;
  }
}
