.c-header {
  
}

.c-ettui-logo {
  font-family: $font-family-display;
  font-size: 1.75rem;
  color: $primary--on-white;
}

.c-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
  width: 100%;
  height: 60px;
  max-width: 1024px;
}

.c-header img {
  height: 24px;
}

.c-header_ctas__container {

}
