.c-status_message {
  width: 100%;
  padding: 1rem 0 2.25rem;
  text-align: center;
  font-size: 1rem;
  background-color: #BDB7AA;
  color: white;
  letter-spacing: 0.25px;
  font-family: "adobe-text-pro";
}

.c-status_message.success {
  background-color: #2fd67f;
  color: white;
}

.c-ettui-logo {
  font-family: $font-family-display !important;
  font-size: 1.75rem !important;
  color: $primary--on-white;
  letter-spacing: -.5px !important;
  text-decoration: none !important;
}

.c-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
  width: 100%;
  height: 60px;
  max-width: 840px;
}

.c-header__link {
  color: #999;
}

.c-header__link + .c-header__link {
  padding-left: 1rem;
}

.c-profile_image {
  border-radius: 40px;
  background-color: rgba(0, 0, 0, .1);
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;

  img {
    border-radius: 40px;
    height: 40px;
  }
}
