.c-introduction ol,
.c-introduction ul {
  font-size: 15px;
}

.c-segment_controller__option {
  display: inline-block;
  border-bottom: solid 1px $primary--on-white;
  padding: 7px 26px 9px;
  color: $secondary--text--on-white;
  &:hover {
    color: $primary--on-white;
    cursor: pointer;
  }
}

.c-introduction__section {
  display: block;
  max-width: 420px;
  margin: 0 auto 0;

  & + & {
    display: none;
  }
}

.c-introduction__section .c-button {
  height: 50px;
  line-height: 48px;
}

.c-introduction__section.js-section--tryout {
  display: none;
}

.c-segment_controller__list {
  font-size: 0;
}

.c-introduction {
  .c-segment_controller__option.is-active {
    border-bottom: solid 3px #34C387;
    color: #34C387;
    // border-bottom: solid 3px $primary--on-white;
    // color: $primary--on-white;
  }
}

.c-introduction {
  font-family: "soleil", sans-serif;
  width: 100%;
  max-width: 640px;
  padding: 54px 46px 0;
  border-radius: 4px;
  text-align: center;
  margin: 0 auto;
  overflow-y: auto;
  min-height: 100%;
}

.c-introduction {
  h1 {
    font-size: 42px;
  }
}

// .t-theme2 .c-introduction .c-ettui-logo {
//   background-image: none;
//   background-color: $primary--on-white;
//   text-decoration: none;
// }

.c-introduction__title {
    letter-spacing: -1px;

    font-weight: 400;
    margin-bottom: 1.619rem;
    color: #262626;
}

.c-introduction__title--section {
  margin-top: 1.619rem;
  font-family: "adobe-text-pro";
  line-height: 2rem;
  font-size: 1.619rem;
  color: $primary--on-white;
  + div {
    margin-top: 1rem;
  }
}

.c-introduction__description {
  color: rgba(0, 0, 0, .33);
}

.c-introduction__section .c-introduction__step_list {
  margin-top: 1.619rem;
}

.c-introduction__step_list li {
  font-size: .875rem;
  color: $primary--on-white;
  font-weight: 100;
}

.c-introduction__step_title {
  &::before {
    content: "Step ";
  }
  background-color: transparent;
  width: 4.25rem;
  height: 2rem;
  line-height: 28px;
  border-radius: 2rem;
  border: solid 1px rgba(0, 0, 0, .17);
  margin: 2rem auto .617rem;
  color: rgba(0, 0, 0, .33);
}

.c-introduction__description {
  margin-top: 1rem;
}

.c-introduction__description {
  font-family: "adobe-text-pro", serif;
}

.c-introduction__divider {
  width: 100%;
  height: 1px;
  background-color: #ddd;
  margin: 92px 0;
}

.c-introduction__bookmarklet {
  margin: 1rem 0 0;
  padding: 25px 46px 27px;
  background-image: linear-gradient(111deg, rgb(106, 232, 197), rgb(51, 234, 139));
  background-color: $signature-color;
  box-shadow: 0 1px 1px #d9d6d3;
  display: inline-block;
  width: 240px;
  border-radius: 2px;
  color: rgba(255, 255, 255, .8);

  transition: all .15s;

  &:hover {
    cursor: pointer;
    background-image: linear-gradient(111deg, rgb(106, 232, 197), rgb(51, 234, 139));
    color: white;
    box-shadow: 0 1px 3px rgba(33, 22, 11, .33);
  }

  code {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 12px;
  }
}

.c-introduction__bookmarklet--mobile {
  background-color: white;
  background-image: none;
  box-shadow: 0 1px 1px #d9d6d3;
  color: $secondary--text--on-white;
  display: block;
  margin: 16px auto 2px;
  &:hover {
    color: $primary--on-white;
    background-image: none;
  }
}

.t-theme2 .c-introduction .c-button {
  margin-top: 42px;
  &.c-button--primary {
    background-image: none;
    border: solid 1px rgba(0, 0, 0, .2);
    background: transparent;
    color: $primary--on-white;
  }
}


.c-introduction__quote {
  font-family: "adobe-text-pro";
  color: $primary--on-white;
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 1.5rem 0 1.5rem 0;
  padding: 1.5rem 0;
  border-top: solid 1px rgba(0, 0, 0, .1);
  border-bottom: solid 4px rgba(0, 0, 0, .1);
}
