.c-quote {
  width: 100%;
  padding: 28px 0;
}

.c-quote__metadata__container {
  display: flex;
  justify-content: space-between;
}

.c-quote__metadata {
  .c-quote__favicon {
    height: 20px;
    width: 20px;
  }

  .c-quote__title {
    color: $signature-color;
  }

  .c-quote__favicon + .c-quote__title {
    margin-left: 3px;
  }

  .c-quote__title,
  .c-quote__author {
    @extend %truncate;
    line-height: 20px;
    display: inline-block;
    vertical-align: bottom;
  }

  .c-quote__author {
    color: $secondary--text--on-white;
  }

  .c-quote__title,
  .c-quote__author {
    font-weight: 100;
    -webkit-font-smoothing: subpixel-antialiased;
  }

  .c-quote__timestamp {
    color: $secondary--title--on-white;
  }
}

.c-quote__content {
  margin: 14px 0 0;
  border-top: solid 1px #e3e3e3;
  border-bottom: solid 1px #e3e3e3;
  padding: 14px 0;
  &.small {

  }
  &.big {

  }
}

.c-quote__tags {
  display: flex;
  justify-content: flex-end;
}


/* Hover states */

.c-quote__tags > form {
  opacity: 0;
}

.c-quote__tags:hover > form {
  opacity: 1;
}

.c-quote__tags form {
  order: -1;
}

.c-tag + .c-tag {
  margin-left: .25rem;
}

/* Visual Design */

.c-quote__tags .c-tag__name,
.c-quote__title,
.c-quote__author {
  color: $signature-color;
  letter-spacing: -0.25px;
  -webkit-font-smoothing: subpixel-antialiased;
}

.c-quote__content h1,
.c-quote__content h1 mark,
.c-quote__metadata > p em {
  font-family: $font-family-serif;
}

.c-quote__metadata > p em {
  font-style: italic;
}

.c-quote__content h1 {
  letter-spacing: 0;
  line-height: 1.5em;
  font-weight: normal;
  color: #333;
}

.c-sidebar_container__header h4,
.c-quote__timestamp {
  color: #999;
  font-weight: 100;
}

/*
  If browsers don't support font-features-settings
  or font-variant, this while apply to them.

  For example iOS Safari.
*/
.c-quote__content.small h1 em,
.c-quote__timestamp,
.c-sidebar_container__header h4,
.o-content_container__title {
  font-size: 13px;
    font-family: "soleil";
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}


/*
  If browsers support font-variant: small-caps,
  but not font-feature-settings,
  this while apply to them.
*/
@supports(font-variant: small-caps) {
  .c-quote__content.small h1 em,
  .c-quote__content.small h1 em mark,
  .c-quote__timestamp,
  .c-sidebar_container__header h4,
  .o-content_container__title {
    font-size: 17px;
    font-variant: small-caps;
      font-weight: 400;

      text-transform: lowercase;
  }
}

/*
  If browsers support font-features-settings,
  this while apply to them.
*/
@supports(font-feature-settings: 'smcp') {
    .c-quote__content.small h1 em,
    .c-quote__content.small h1 em mark,
    .c-quote__timestamp,
    .c-sidebar_container__header h4,
    .o-content_container__title {
      font-variant: normal;
      font-size: 15px;
      font-feature-settings:"smcp" 1, "c2sc" 1;
      font-variant-caps: all-small-caps;
      font-weight: 400;
      text-transform: none;
    }
}

.c-quote__content h1 mark {
  border-bottom: solid $signature-color 1px;
  background-color: transparent;
  color: #28B96E;
  font-family: inherit; 
}

.c-quote__content.big h1 mark {
  font-feature-settings: "dlig" 1;
}

.c-sidebar_container__header .fa,
.c-quote__remove .fa {
  line-height: 24px;
    font-size: 22px;
}

.c-quote__remove {
  opacity: 0;
  display: none;
}

.c-quote:hover .c-quote__remove {
  opacity: .1;
}

.c-quote:hover .c-quote__remove:hover {
  opacity: 1;
  color: salmon;
}

a.c-quote__title:hover {
  color: #000;
}

/* Break points */

.c-quote__content.big h1 {
  font-size: 40px;
  line-height: 1.25em;
  letter-spacing: -1px;
  font-feature-settings:"dlig" 1;
  font-variant-ligatures: discretionary-ligatures
}

.c-quote__content h1 {
  font-size: 28px;
  line-height: 1.35em;
  letter-spacing: -0.25px;
}

.c-quote__content.small h1 {
  font-size: 20px;
  line-height: 1.5em;
}
