@import "variables", "../typography/fonts";

.c-status_message.finalize_demo {
  background-image: linear-gradient(111deg, #6ae8c5, #33ea8b);
  background-color: $signature-color;
  color: white;
  width: 100%;
  max-width: 260px;
  text-align: center;
  border-radius: 5px;
  padding: 1rem;
  line-height: 38px;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  opacity: .67;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
  transition: box-shadow .2s, opacity, .2s, color .2s;
  &:hover {
    opacity: 1;
    box-shadow: 0 1px 8px rgba(0, 0, 0, .4);
    a {
      color: rgba(255, 255, 255, 1);
      border-bottom: solid 1px rgba(255, 255, 255, .33);
    }
  }
  h1 {
    font-size: 0.8125rem;
    line-height: 1.619;
    margin-bottom: .5rem;
    min-width: auto;
  }
  a {
    text-transform: uppercase;
    letter-spacing: .09375rem;
    font-size: .75rem;
    font-weight: 600;
    padding-bottom: 2px;
    color: rgba(255, 255, 255, .5);
    border-bottom: solid 1px rgba(255, 255, 255, 0);
    &:hover {
      color: inherit;
      border-color: rgba(255, 255, 255, 1);
    }
  }
}

.c-quote {
  width: 100%;
  max-width: 600px;
  font-family: "soleil";
  line-height: 1;
}

.c-quote__metadata__container {
  display: flex;
  justify-content: space-between;
}

.c-quote__metadata--title-and-author {
  flex-grow: 1;
}

.c-quote__timestamp {
  line-height: 1.375rem;
  width: 52px;
  text-align: right;
  vertical-align: baseline;
  display: inline-block;
}

.c-quote__metadata {
  .c-quote__favicon {
    height: 20px;
    width: 20px;
    mix-blend-mode: darken;
  }

  .c-quote__title {
    color: $secondary--text--on-white;
  }

  .c-quote__title.is-truncated {
    max-width: calc(100% - 40px);
  }

  .is-truncated {
    @extend %truncate;
  }

  .c-quote__favicon + .c-quote__title {
    margin-left: .5rem;
  }

  .c-quote__title,
  .c-quote__author {
    line-height: 18px;
    display: inline-block;
    vertical-align: bottom;
  }

  .c-quote__author {
    &::before {
      content: "\00a0 ";
    }
  }
}

.c-quote__content {
  margin: 1rem 0 0;
  border-top: solid 1px #e3e3e3;
  border-bottom: solid 1px #e3e3e3;
  padding: .875rem 0;
  &.small {

  }
  &.big {

  }
}

.c-quote__tags {
  display: flex;
  justify-content: flex-end;
}


/* Hover states */

.c-quote__tags > form {
  opacity: 0;
}

.c-quote__tags:hover > form {
  opacity: 1;
}

.c-quote__tags form {
  order: -1;
}

.c-tag + .c-tag {
  margin-left: .25rem;
}

/* Visual Design */

.c-quote__tags .c-tag__name,
.c-quote__title,
.c-quote__author {
  color: $secondary--text--on-white;
  letter-spacing: -0.25px;
}

h1.c-quote__content,
h1.c-quote__content mark,
.c-quote__metadata > p em {
  font-family: $font-family-serif;
}

.c-quote__metadata > p em {
  font-style: italic;
}

h1.c-quote__content {
  letter-spacing: 0;
  line-height: 1.5em;
  font-weight: normal;
  color: #333;
}

h1.c-quote__content mark {
  border-bottom: solid $signature-color 1px;
  background-color: transparent;
  color: #28B96E;
  font-family: inherit; 
}

h1.c-quote__content.big mark {
  font-feature-settings: "dlig" 1;
}

.c-sidebar_container__header .fa,
.c-quote__remove .fa {
  line-height: 24px;
    font-size: 22px;
}

.c-quote__remove {
  opacity: 0;
  float: left;
  // display: none;
}

.c-quote:hover .c-quote__remove {
  opacity: .1;
}

.c-quote__title:hover,
.c-quote:hover .c-quote__remove:hover {
  opacity: 1;
  color: $signature-color;
}

/* Break points */

h1.c-quote__content a {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  font-style: inherit;
  font-weight: inherit;
}

h1.c-quote__content.big {
  font-size: 40px;
  line-height: 1.25em;
  a {
    font-feature-settings:"dlig" 1;
    font-variant-ligatures: discretionary-ligatures;
  }
}

h1.c-quote__content {
  font-size: 28px;
  line-height: 1.35em;
  letter-spacing: -0.25px;
}

h1.c-quote__content.small {
  font-size: 20px;
  line-height: 1.5em;
  em {
    text-transform: uppercase;
    font-feature-settings: "c2sc" 1, "smcp" 1;
    font-variant: small-caps;
  }
}

.quote--show {

  .c-ettui-logo {
    margin: 3rem 0;
  }
  .quote-author {
    margin: 3rem 0;
  }
}

/*

  <div class="quote-author">
    <h3 class="subtitle subtitle--all-caps">Curated by</h3>
      <%= image_tag @user.twitter_image_url, class: "c-profile_image" %>
      <h3 class="subtitle"><%= @user.name %></h3>
  </div>

*/

.quote-author {
  &.centered {
    text-align: center;
  }
  .subtitle {
    margin: 1rem auto;
    &.subtitle--all-caps {
      color: $secondary--text--on-white;
    }
  }
  img {
    width: auto;
    height: auto;
  }
}

.quotes-list-information-container {
  > * {
    font-family: $font-family-serif;
  }
  h2 {
    line-height: 1;
  }
  
  p, .recommendation-link {
    font-size: 1rem;
    margin: 1rem 0;
    line-height: 1.619;
  }
  .recommendation-link {
    color: $signature-color;
  }
  .recommendation-link {
    margin-bottom: 1rem;
  }
}