/* Search */

.c-sidebar_container {
	padding: 62px 28px 124px;
	font-family: "soleil";

	/* To enable scrolling of a fixed element. */
	top: 0;
	bottom: 0;
	overflow-y: auto;
}

.c-sidebar_container__header,
.c-sidebar_container__list li {
	display: flex;
	justify-content: space-between;
}

.c-sidebar_container__search {
	width: 100%;
	margin-top: 14px;
	border-radius: 3px;
	border: solid 1px $w-stroke-color;
	input[type="text"] {
		font-size: 18px;
		font-weight: 300;
	}
	.submit {
		display: none;
	}
}

.c-sidebar_container__search .icon {
	top: 4px;
	left: 4px;
}

.c-sidebar_container__search input[type="text"] {
	vertical-align: top;
	line-height: 38px;
}

/*

	SIDEBAR HEADER
	
	h4

*/

.c-sidebar_container__header,
.c-sidebar_container__list li {
	margin-bottom: 6px;
}

.c-sidebar_container__header:nth-child(1) ~.c-sidebar_container__header {
	margin-top: 28px;
}

.c-sidebar_container__header h4,
.c-quote__timestamp {
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 1px;
	color: #999;
}

.c-sidebar_container__header .icon {
	opacity: 0;
}

/*

	SIDEBAR LIST ITEM

	ol > li

*/

.c-sidebar_container__list .c-quote__favicon {
	margin-right: 6px;
	margin-top: 3px;
	height: 16px;
}

.c-sidebar_container__list li a {
	flex-grow: 1;
}

.c-sidebar_container__count {
	min-width: 21px;
	height: 21px;
	line-height: 18px;
	padding: 0px 6px;
	text-align: center;
	border-radius: 3px;
	border: solid 1px transparent;
	-moz-font-feature-settings:"tnum" 1; 
	-moz-font-feature-settings:"tnum=1"; 
	-ms-font-feature-settings:"tnum" 1; 
	-o-font-feature-settings:"tnum" 1; 
	-webkit-font-feature-settings:"tnum" 1; 
	font-feature-settings:"tnum" 1;
}


/*


	HOVER & BEHAVIORAL STATES


*/

.sidebar-section-header {
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.c-sidebar_container__header:hover,
.c-sidebar_container__list li:hover {
	cursor: pointer;
}

.c-sidebar_container__list li:hover {
	.c-sidebar_container__count {
		border: solid 1px #ddd;
	}
}

.c-sidebar_container__list li.is-active:hover {
	.c-sidebar_container__count {
		border-color: transparent;
	}
}

/*

	VISUAL THEME

*/

.t-white {

	.c-sidebar_container__list li a {
		line-height: 21px;
	}

	.c-sidebar_container__list li a,
	.c-sidebar_container__count {
		font-weight: 300;
	}

	.c-sidebar_container__count {
		color: #9f9f9f;
	}

	.c-sidebar_container__list li.is-active {
		a {
			color: $w-signature-color;
		}
		
		.c-sidebar_container__count {
			background-color: $w-signature-color;
			color: $t-primary-color;
		}
	}
}