@import 'https://fonts.googleapis.com/css?family=Ek+Mukta:300';

.noted-spinner {
  width: 30px;
  height: 30px;
  background-image: -webkit-linear-gradient(339deg, #6ae8c5, #33ea8b);
  background-image: linear-gradient(111deg, #6ae8c5, #33ea8b);
  background-color: #38C795;
  border-radius: 3px;
  margin: 50px auto;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.noted-bookmarklet {
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  max-width: 320px;
  background-color: #fff;
  z-index: 999999999;
  position: fixed;
  top: 100px;
  left: calc(50% - 160px);
  opacity: 1;
  padding: 50px 0 40px;
  box-shadow: 0 0 61px rgba(0, 0, 0, 0.23);
  transition: max-height 1s ease-out;
  font-family: "Ek Mukta", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  color: #9e9c98;
  border-radius: 10px;
}

.noted-bookmarklet .noted-content-container {
  overflow: auto;
  display: block; // DEFAULT IS display: none;
}

.noted-bookmarklet .noted-logo.visible,
.noted-bookmarklet .noted-close.visible,
.noted-bookmarklet .noted-tag,
.noted-bookmarklet #noted-close-btn,
.noted-bookmarklet input {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

@media only screen and (min-width : 280px) and (max-width : 400px) {
  .noted-bookmarklet {
    left: 20px;
    top: 20px;
  }
}

.noted-bookmarklet .noted-logo,
.noted-bookmarklet .noted-close {
  opacity: 0;
  transition: opacity .83s;
  margin-top: 20px;
}

.noted-bookmarklet .noted-logo.visible,
.noted-bookmarklet .noted-close.visible {
  display: block;
  opacity: 1;
  background-size: contain;
}

.noted-bookmarklet .status-message,
.noted-bookmarklet .noted-tag,
.noted-bookmarklet input {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

.noted-bookmarklet .sub-message,
.noted-bookmarklet .noted-tag,
.noted-bookmarklet #noted-close-btn,
.noted-bookmarklet input {
  color: #343230;
}

.noted-bookmarklet .status-message {
  color: #343230;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 24px;
  padding: 0 20px;
  line-height: 20px;
  clear: both;
  letter-spacing: -0.5px;
}

.noted-bookmarklet .sub-message {
  color: #8C8B89;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 0;
  font-weight: 400;
  line-height: 20px;
  font-size: 14px;
}


.noted-bookmarklet .noted-tag {
  width: 100%;
  height: 28px;
  line-height: 28px;
  overflow-y: hidden;
  background-color: transparent;
  text-transform: lowercase;
  list-style-type: none;
  border-top: solid 1px #E7E5E3;
  transition: color .06s ease-out;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  color: #2fd67f;
}

.noted-bookmarklet .noted-tag:hover {
  cursor: pointer;
  background-image: -webkit-linear-gradient(339deg, #6ae8c5, #33ea8b);
  background-image: linear-gradient(111deg, #6ae8c5, #33ea8b);
  background-color: #2fd67f;
  color: #fff;
  border-top: solid 1px #fff;
}

.noted-bookmarklet .noted-tag:hover + .noted-tag,
.noted-bookmarklet .noted-tag.selected + .noted-tag {
  border-top: solid 1px #fff;
}

.noted-bookmarklet .noted-tag.selected {
  background-image: -webkit-linear-gradient(339deg, #6ae8c5, #33ea8b);
  background-image: linear-gradient(111deg, #6ae8c5, #33ea8b);
  background-color: #2fd67f;
  border-top: solid 1px #fff;
  color: #fff;
}

.noted-bookmarklet .noted-tag:hover + .noted-tag.selected,
.noted-bookmarklet .noted-tag.selected + .noted-tag.selected,
.noted-bookmarklet .noted-tag.selected + .noted-tag:hover,
.noted-bookmarklet .noted-tag.selected + .noted-bookmarklet .noted-tag:hover {
  border-top: solid 1px #34d287;
}

.noted-bookmarklet .noted-tag:before {
  content: '#';
}

.noted-bookmarklet .add-tag-container {
  width: calc(100% - 40px);
  margin: 0 auto;
  overflow: auto;
}

.noted-bookmarklet input#noted-new-tag,
.noted-bookmarklet input#noted-new-tag-submit {
  height: 36px;
  line-height: 36px;
}

.noted-bookmarklet input#noted-new-tag {
  border: solid 1px #E7E5E3;
  padding: 0px 14px;
  box-sizing: border-box;
  margin: 20px auto 0;
  border-radius: 2px;
  outline: transparent;
  box-shadow: none;
  width: 100%;
  font-size: 14px;
  background-color: transparent;
  text-align: center;
}

.noted-bookmarklet input#noted-new-tag:hover {
  border-color: #8C8B89;
}

.noted-bookmarklet input#noted-new-tag:focus {
  border-color: #2fd67f;
  color: #2fd67f;
}

.noted-bookmarklet input#noted-new-tag:focus + input#noted-new-tag-submit {
  color: #2fd67f;
}

.noted-bookmarklet input#noted-new-tag-submit {
  -webkit-appearance: none;
  font-weight: 400;
  color: #eee;
  border: none;
  line-height: 35px;
  height: 40px;
  border-radius: 2px;
  margin: 0 0 20px;
  padding: 0 10px;
  text-align: center;
  font-size: 14px;
  background-color: transparent;
  box-shadow: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.noted-bookmarklet input#noted-new-tag-submit:hover {
  cursor: pointer;
}

.noted-bookmarklet input#noted-new-tag-submit:active {
  outline: none;
}

.noted-bookmarklet input#noted-new-tag::-webkit-input-placeholder {  
   font-style: italic;
   color: #8C8B89;
}

.noted-bookmarklet .noted-close {
  display: none;
}

.noted-bookmarklet #noted-close-btn {
  display: inline-block;
  border: none;
  background-image: -webkit-linear-gradient(339deg, #6ae8c5, #33ea8b);
  background-image: linear-gradient(111deg, #6ae8c5, #33ea8b);
  background-color: #2fd67f;
  margin: 0 auto;
  padding: 6px 28px 8px;
  text-decoration: none;
  border-radius: 20px;
  font-weight: 400;
  line-height: 30px;
  color: white;
  font-size: 14px;
  letter-spacing: .5px;
  height: 40px;
}

.noted-bookmarklet #noted-close-btn:hover {
  color: #38a06d;
}
