.header-element {
  background-color: transparent;
  height: 94px;
  padding-top: $spacing-3;
}

.header-element .header-title {
  font-size: $font-size-serif-3;
  font-family: $font-family-serif;
}

.quotes-container .header-element {
  float: left;
  color: salmon;
}

.header-element.profile {
  float: right;
  padding-top: $spacing-3 + 7;
  & img {
    width: 32px;
    border-radius: 32px;
    margin-right: 7px;
  }
  & a {
    vertical-align: top;
    line-height: 32px;
  }
}

.header-element.transparent {
  background-color: $main-background-color;
  color: salmon;
}
