.o-content_container {
	margin-left: 30vw; /* 22 + 8 */
	padding: 0 4vw $spacing-6;
}

.t-white .o-content_container {
	background-color: #fff;
}

.o-content_container h1,
.o-quotes_container {
	min-width: 480px;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.o-quotes_container .c-quote {
	margin-bottom: 0px;
}

.no-sidebar .quotes-container {
	padding-left: $spacing-5;
}

.no-sidebar .o-sidebar_container {
	display: none;
}

.o-sidebar_container h1,
.o-sidebar_container p,
.o-sidebar_container a,
.o-sidebar_container li,
.o-content_container * {
	font-family: $font-family-sans;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
}

.o-content_container em {
	font-family: inherit;
	color: inherit;
}

.o-content_container__title {
	font-size: 30px;
	font-weight: 800;
	letter-spacing: -1px;
	margin-top: 44px;
}


@media screen and (min-width : 320px) {

}

@media screen and (min-width : 480px) {

}

@media screen and (min-width : 640px) {
	
}

@media screen and (min-width : 1024px) {
	
}