.o-overlay {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-modal__window {
  background-color: white;
  text-align: center;
  padding: 40px;
  height: 560px;
  max-width: 520px;
}

.c-modal__window img {
  width: 100px;
}

.c-modal__window a,
.c-modal__window p {
  font-size: 14px;
}

.c-modal__window a {
  text-decoration: underline;
}

.c-modal__window h1,
.c-modal__window a,
.c-modal__window p {
  font-family: "adobe-text-pro";
  color: #262626;
}

.c-modal__window h1 {
  line-height: 1.2em;
}

.c-modal__window p.secondary,
.c-modal__window p.secondary a {
  color: #999;
  -webkit-font-smoothing: antialiased;
}

.c-modal__window .button {
  font-family: "soleil";
  font-weight: 300;
  -webkit-font-smoothing: subpixel-antialiased;
  font-feature-settings: "smcp", "c2sc";
  letter-spacing: 1px;
  font-kerning: normal;
}

.c-modal__window .button,
.c-modal__window input {
  width: 100%;
  height: 50px;
  max-width: 320px;
  line-height: 50px;
  border-radius: 2px;
  padding: 0 14px;
  margin: 10px auto;

  text-decoration: none;
  text-align: center;
}

.c-modal__window .button,
.c-modal__window .actions input {
  display: block;
  background-color: #262626;
  color: white;
  width: 320px;

  & img {
    position: relative;
    top: 5px;
    padding-right: 10px;
  }

  &:hover {
    background-color: #000;
  }
}

.c-modal__window .field input {
  font-family: "soleil", sans-serif;
  border: solid 2px #262626;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 5px;
}

.c-modal__window .field .field_with_errors input {
  border-color: red;
}

.c-modal__window .field_with_errors + p {
  display: none;
}

.c-modal__window .field + .field input,
.c-modal__window .field + .actions input {
  margin-top: 0;
}

.c-modal__window a + h1 {
  margin-top: 21px;
}

.c-modal__window h1 + .button {
  margin-top: 26px;
}

.c-modal__window h1 + form {
  margin-top: 16px;
}

.c-modal__window p.secondary + p,
.c-modal__window div + p {
  margin-top: 27px;
}

.c-modal__window,
.c-modal__window.is-fading-out {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.c-modal__window {
  -webkit-animation-name: fade-in;
  animation-name: fade-in;
}

.c-modal__window.is-fading-out {
  -webkit-animation-name: fade-out;
  animation-name: fade-out;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
