// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.c-landing_page {
  font-family: $font-family-sans;
  margin-top: 80px;
  border-bottom: solid 1px $border--on-white;
}

.c-landing_page__footer {
  flex-grow: 1;
  justify-content: center;

  background-color: $signature-color;
  text-align: center;
  padding-top: 46px;
}

.c-landing_page__footer_title {
  font-family: $font-family-sans;
    text-transform: uppercase;
    font-weight: 100;
    font-feature-settings: "smcp", "c2sc";
    color: rgba(255, 255, 255, .33);
    letter-spacing: 1px;
    font-size: 12px;
}

.c-landing_page__title {
  font-family: $font-family-sans;
    font-size: 2.2rem;
    letter-spacing: -.5px;
    line-height: 3.1rem;
    font-weight: 100;
    max-width: 410px;
    &:first-of-type {
      margin-top: 2.2rem;
    }
    &:last-of-type {
      margin-bottom: 1.1rem;
    }
}

.c-landing_page__text {
  font-size: 1.1rem;
  font-weight: 100;
  line-height: 1.78rem;
  max-width: 410px;
  color: $secondary--on-white;
  &:last-of-type {
    margin-bottom: 2.2rem;
  }
}

.c-landing_page__title--secondary {
  color: $secondary--on-white;
}

/* Object for taking up 50% of the screen. */
.o-half_screen {
  .c-landing_page__title--primary {
    margin-top: 46px;
    display: inline-block;
  }
  .c-landing_page__title--secondary {
    padding-bottom: 46px;
  }

  .c-landing_page__image {
    width: 100%;
  }
}

div.error_explanation ul {
  display: none;
  -webkit-padding-start: 0px;
  & li {
  font-size: 12px;
  font-style: italic;
  color: #000;
  list-style: none;
  }
}

/* # # # # # # # # # # # # # # # # # # # # # # # # # #


  END OF SPLASH ROWS


  --


  Start of SIGN UP

# # # # # # # # # # # # # # # # # # # # # # # # # # */
