.signature-color {
	color: $signature-color;
}

.o-title_container {
	margin-bottom: 5rem;
}

.profile-container {
	text-align: center;
	flex-direction: column;
	align-items: center;
}

.profile-section p,
.profile-section p a,
.profile-details form,
.profile-details input[type="text"],
.profile-details textarea {
	font-family: $font-family-serif;
}

.profile-section p a {
	color: $signature-color;
}

.profile-section .c-button {
	border-radius: 5px;
	border: solid 1px $signature-color;
	color: $signature-color;
	margin-top: 1rem;
}

.profile-container {
	h1, p {
		margin-top: .5rem;
	}
	h1 {
		font-size: 1rem;
		font-weight: bold;
	}
	p {
		line-height: 1.5;
		max-width: 320px;
		color: $secondary--text--on-white;
	}
}

.profile-container img {
	border-radius: 50%;
}

.profile-section {
	color: $primary--on-white;
	max-width: 480px;
	display: flex;
	margin: 0 auto;
	& + & {
		margin-top: 2rem;
	}
}

.profile-section:nth-child(even) {
	background: rgba(255, 255, 255, .5);
    padding: 2rem;
    border-radius: 10px;
}

.profile-section .section-title {
	width: 100%;
	font-size: 1
}

.profile-bookmarklet {
	flex-direction: column;
	text-align: center;
	align-items: center;
}

.profile-details {
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.profile-details form {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 380px;
	text-align: center;
	input,
	textarea {
		text-align: center;
		font-size: 1rem;
		margin-top: .75rem;
		border: solid 1px rgba(0, 0, 0, .15);
	    border-radius: 5px;
	    padding: .5rem;
	    background: transparent;
	}
	textarea {
		resize: none;
		height: 8rem;
		font-size: .875rem;
	}
	input + label,
	textarea + label {
		margin-top: 1rem;
	}
	input[type="hidden"] + label {
		margin-top: 0;
	}
	.c-button {
		padding: 0;
		width: 200px;
		line-height: 35px;
    	padding-bottom: 2px;
    	align-self: center;
	}
}

.profile-infographics {
	justify-content: space-around;
	margin: 2rem auto;
}

.graph {
	text-align: center;
	color: #aaa;
}

.graph p {
	font-family: $font-family-sans;
}

.graph h1 {
	width: auto;
	min-width: auto;
	line-height: 1.25;
	font-feature-settings: "tnum=1";
}

/* Completion */

.c-status_message--signature {
	background-color: $signature-color;
}

.t-theme2 .profile-details.naked {
	border: none;
	label {
		color: $primary--on-white;
	}
}

.profile-title {
	font-family: $font-family-serif;
	margin: 2rem 0 0;
	text-align: center;
	width: 100%;
}

.profile-title--pitch {
	font-size: 1rem;
	margin: .5rem auto 2rem;
	max-width: 480px;
}