// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.c-landing_page {
  font-family: $font-family-sans;
  margin-top: 80px;
  border-bottom: solid 1px $border--on-white;
}

.c-landing_page__footer {
  flex-grow: 1;
  justify-content: center;

  background-color: $signature-color;
  text-align: center;
  padding-top: 46px;
}

.c-landing_page__footer_title {
  font-family: $font-family-sans;
    text-transform: uppercase;
    font-weight: 100;
    font-feature-settings: "smcp", "c2sc";
    color: rgba(255, 255, 255, .33);
    letter-spacing: 1px;
    font-size: 12px;
}



.c-landing_page__title {
    font-size: 2rem;
    letter-spacing: 0.15rem;
    line-height: 2.5rem;
    font-weight: 100;

    max-width: 480px;
    &:last-of-type {
      margin-bottom: 40px;
    }
}

.c-landing_page__title--secondary {
  color: $secondary--on-white;
}

.c-landing_page__cta {
  font-size: .875em;
  letter-spacing: 0.05em;
  font-feature-settings: "smcp", "c2sc";

  padding: 13px 28px 15px;
  border-radius: 45px;
  background-color: #222;
  color: white;

  display: inline-block;
}

.c-landing_page__cta {
  &:hover {
    cursor: pointer;
    background-color: salmon;
    color: white;
  }
}

.c-landing_page__cta--secondary {
  border: solid 1px #EAE7E1;
  background-color: transparent;
  color: rgba(0, 0, 0, .5);
}

.c-landing_page__cta--secondary {
  &:hover {
    cursor: pointer;
    background-color: transparent;
    color: salmon;
  }
}

/* Object for taking up 50% of the screen. */
.o-half_screen {
  .c-landing_page__title--primary {
    margin-top: 46px;
    display: inline-block;
  }
  .c-landing_page__title--secondary {
    padding-bottom: 46px;
  }

  .c-landing_page__image {
    width: 100%;
  }
}

div.error_explanation ul {
  display: none;
  -webkit-padding-start: 0px;
  & li {
  font-size: 12px;
  font-style: italic;
  color: #000;
  list-style: none;
  }
}

/* # # # # # # # # # # # # # # # # # # # # # # # # # #


  END OF SPLASH ROWS


  --


  Start of SIGN UP

# # # # # # # # # # # # # # # # # # # # # # # # # # */
