// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.c-landing_page {
  font-family: $font-family-sans;
  margin-top: 3rem;
}

.c-landing_page__footer {
  flex-grow: 1;
  justify-content: center;

  background-color: $primary--on-white;
  text-align: center;
  padding-top: 46px;
}

.c-landing_page__footer_title {
  font-family: $font-family-sans;
    text-transform: uppercase;
    font-weight: 100;
    font-feature-settings: "smcp", "c2sc";
    color: rgba(255, 255, 255, .33);
    letter-spacing: 1px;
    font-size: 12px;
}

.c-landing_page__title {
    font-family: $font-family-sans;
    color: $signature-color;
    font-size: 2.7rem;
    letter-spacing: -2px;
    font-weight: 100;
    // font-family: $font-family-display;
    // font-size: 3rem;
    // letter-spacing: 0;
    // font-weight: 400;
    line-height: 3.3rem;
    max-width: 410px;
    &:first-of-type {
      margin-top: 3rem;
    }
    &:last-of-type {
      margin-bottom: 1.32rem;
    }
}

.c-landing_page__text {
  font-size: 1.3rem;
  font-weight: 100;
  line-height: 2rem;
  letter-spacing: -.25px;
  max-width: 410px;
  color: $secondary--text--on-white;
  &:last-of-type {
    margin-bottom: 2.2rem;
  }
}

.c-landing_page__title--secondary {
  color: $secondary--title--on-white;
}

/* Object for taking up 50% of the screen. */
.o-half_screen { 

  .c-button {
    height: 3rem;
    padding: 0 1.5rem;
    line-height: 2.85rem;
  }
  .c-button:last-of-type {
    margin-bottom: 3rem;
  }

  .c-button + .c-button {
    margin-left: .75rem;
  }

  .c-landing_page__image {
    width: 100%;
  }

  img {
    border: solid 1px $border--on-white;
  }

  &:last-of-type {
    position: relative;
  }
}

div.error_explanation ul {
  display: none;
  -webkit-padding-start: 0px;
  & li {
  font-size: 12px;
  font-style: italic;
  color: #000;
  list-style: none;
  }
}

.t-theme1,
.t-theme2 {
  .md-device-preview {
  font-size: 7px;
  width: 100%;
  height: 454px;
  .md-ipad {
    position: absolute;
    right: 0;
    .md-body {
      //background-image: linear-gradient(111deg, rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
      border: solid 1px rgba(0, 0, 0, 0.1);
      //box-shadow: .175rem 0.3rem .9rem rgba(0, 0, 0, 0.2);
      background-color: rgba(255, 255, 255, .5);
      .md-screen {
        box-shadow: none;
        background-color: transparent;
        iframe {
          opacity: 0;
          width: 100%;
          height: 100%;
          border: solid 2px rgba(0, 0, 0, .1);
        }
      }
      .md-home-button {
        background: linear-gradient(111deg, #E2E2D1, #FBFBF2);
        border: solid 1px rgba(0, 0 ,0, .1);
        &::after {
          border-color: #C1C3B7;
        }
      }
    }
  }
}

.md-ipad.md-glare:before {
  background: linear-gradient(292deg, rgba(255, 255, 255, 0) 50%, rgba(247, 248, 240, 0.025) 50%, rgba(250, 245, 252, 0.08));
  left: 0.625em;
  border-radius: 3.125em 0 0 0;
}
}

.t-theme1 {
  background-image: linear-gradient(111deg, palevioletred, #FFEA83);
  background-size: cover;
  min-height: 100%;
  height: 100%;
  width: 100%;

  .c-ettui-logo {
    color: #FDE185;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  }

  .c-header__container .c-button {
    border: none;
    background-color: transparent;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  }

  .c-landing_page__title:last-of-type {
    color: white;
  }

  .c-landing_page__text {
    color: rgba(255, 255, 255, .67);
  }

  .c-button--primary {
    background-color: rgba(255, 255, 255, .85);
    color: #333;
  }

  .c-button--secondary {
    color: white;
    border-color: rgba(255, 255, 255, .5);
  }

  .o-half_screen .c-ipad_outline {
    background-color: rgba(255, 255, 255, .2);
  }
}

.t-theme2 {
  padding-top: 1rem;

  background-image: linear-gradient(111deg, #F9F8F4, #EFE5D3);
  background-size: cover;
  min-height: 100%;
  height: 100%;
  width: 100%;

  .c-ettui-logo {
    @supports(-webkit-background-clip: text) {
      color: transparent;
      background-image: linear-gradient(111deg, #6AE8C5, #33EA8B); //linear-gradient(111deg, #FFC440, #ff6899);
      -webkit-background-clip: text;
    }
    color: $signature-color;
    font-size: 2rem;
  }

  .c-header__container .c-button {
    border: none;
    background-color: transparent;
    color: $secondary--text--on-white;
    //text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  }

  .c-landing_page__title:last-of-type {
    color: $primary--on-white;
  }

  .c-landing_page__text {
    color: rgba(0, 0, 0, .4);
  }

  .c-button--primary {
    background-image: linear-gradient(111deg, #6AE8C5, #33EA8B);
    background-color: #FF7BA6;
    color: white;
  }

  .c-button--secondary {
    color: #38C795;
    border-color: #4EE9A8;
  }

  .o-half_screen .c-ipad_outline {
    background-image: linear-gradient(111deg, #595755, #3f3d3b);
    background-color: rgba(255, 255, 255, .5);
    border: solid 1px #e8e8e8;
  }
}

/* # # # # # # # # # # # # # # # # # # # # # # # # # #


  END OF SPLASH ROWS


  --


  Start of SIGN UP

# # # # # # # # # # # # # # # # # # # # # # # # # # */
