.u-block {
  display: block;
}

.u-inline-block > li {
  display: inline-block;
}

.u-text-align-center {
  text-align: center !important;
}

.u-float-left {
  float: left;
}

.u-float-right {
  float: right;
}

.u-clearfix:after {
  content: "";
    display: table;
    clear: both;
}
