/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	body, html {
		padding: 0;
		margin: 0;
		height: 100%;
		width: 100%;
		background-color: #fff;
		font-size: 16px;
	}

	* { 
		-webkit-margin-before: 0;
		-webkit-margin-after: 0;
		-webkit-font-smoothing: antialiased;
		box-sizing: border-box;
		font-weight: 400;
		line-height: 137%;
		font-family: "Soleil", sans-serif;
		vertical-align: top; /* Positions inline-block elements aligned to the elements top. */
	}

	a {
		text-decoration: none;
		color: #000;
	}

	button {
		font-weight: 600;
	}

	button, input.search, input.submit {
		border: none;
		outline: none;
		background-color: transparent;
	}

	/*
		####

		Layout sizing

		####
	*/

	.notice {
		width: 100%; 
		background-color: #00b83d; 
		padding: 10px 0; 
		text-align: center; 
		color: #fff;
	}

	.header-logo, .sidebar-container {
		width: 260px;
	}

	.sidebar-container {
		/* Styling */
		background-color: #f9f9f9;

		/* Positioning */
		float: left;
	}

	/*
		####

		Header

		####
	*/

	.header {
		width: 100%;
		height: 88px;
		font-size: 0; /* Remove inline-block horizontal white-space spacing */

		background-color: #000;
	}

	.header-logo, .header-boards-navigation, .header-boards-navigation li {
		display: inline-block;
	}

	.header-logo h1 {
		margin: 0;
		line-height: 88px;
		text-align: center;
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 2px;
		font-weight: 600;

		background-color: #000;
		color: #555;
	}

	.header-boards-navigation {
		padding: 0; /* Remove automatic <ul> left side padding */
		font-size: 0; /* Removes space between horizontal li elements. */
	}

	.header-boards-navigation .update-board-button {
		position: absolute;
		top: 0;
		right: 0;
		background-color: #00856a;
		color: #005040;
		padding: 4px 6px;
		margin: 0;
		opacity: 0;
		-webkit-transition: opacity .2s ease;
	}

	.header-boards-navigation li:hover .update-board-button {
		opacity: 1;
		-webkit-transition: opacity .2s ease;
	}

	.header-boards-navigation li {
		height: 100%;
		padding: 0 44px;
		text-align: center;

		background-color: #333;
		position: relative;
	}

	.header-boards-navigation li a {
		color: #aaa;
	}

	.header-boards-navigation li.active {
		background-color: #00b893;
	}

	.header-boards-navigation li.active a {
		color: #fff;
	}

	.header-boards-navigation li.add-board {
		background-color: #000;
	}

	.header-boards-navigation li.add-board a {
		color: #00b893;
	}


	.header-boards-navigation li.new-board {
		height: 88px;
	}

	.header-boards-navigation li.new-board input[type="text"] {
		height: 38px;
		margin-top: 25px;
		font-size: 18px;
		background: none;
		border: dashed 2px #009275;
		line-height: 18px;
		text-align: center;
		color: #fff;
		outline: none;
	}

	.header-boards-navigation li.new-board.inactive, li.new-board.inactive input {
		width: 0px;
	}

	.header-boards-navigation li.new-board.inactive {
		padding: 0;
	}

	.header-boards-navigation li.new-board, li.new-board input {
		width: auto;
	}

	.header-boards-navigation li.new-board {
		background: #00b893;
	}

	.header-boards-navigation li.new-board ::-webkit-input-placeholder {
	   padding-top: 4px;
	   color: 		#00856a;
	}

	.header-boards-navigation li.new-board input[type="submit"] {
		display: none;
	}

	.header-boards-navigation li.new-board input[type="text"]:focus {
		border: dashed 2px #00b893;
	}

	.header-boards-navigation a {
		line-height: 88px;
		font-size: 18px;
	}




	/*
		####

		Filters container

		####
	*/

	.filters-title, .filters-reset {
		display: inline-block;
	}

	.filters-title {
		padding: 23px 30px;
	}

	.filters-reset {
		padding: 36px 30px 23px 0;
		color: #00b893;
	}

	.filters-title {
		width: 160px;
	}

	.filters-reset {
		float: right;
	}

	.filters-container, .filters-list {
		width: 100%;
	}

	.filters-container h2 {
		/* Styling */
		letter-spacing: 1px;
	}

	.filters-container, .search-container, .boards-navigation-container {
		/* Positioning */
		display: inline-block;
	}

	.filters-list .source-favicon {
		/* Styling */
		width: 24px;
		height: 24px;
		background-size: contain;

		/* Positioning */
		display: inline-block;

		/* Experimental blend mode */
		background-color: #f9f9f9;
		background-blend-mode: multiply, normal; /* Chrome Canary */
		-webkit-background-blend-mode: multiply, normal; /* WebKit Nightly */
	}

	.filters-list li {
		padding: 7px 30px;
	}

	.filters-list input { 
		display: none; 
	}

	.filters-list button { 	
		/* Positioning */
		padding-left: 0;

		/* Styling */
		font-size: .875em; /* 14/16 */
		color: #9f9f9f;
	}

	.filters-list li.active {
		background-color: #eee;
	}

	.filters-list li.active button {
		color: #000;
	}




	/*
		####

		Search container

		####
	*/

	.search-container * {
		/* Positioning */
		display: inline-block;
	}

	.search-container {
		padding: 23px 0 0 30px;
		width: 640px;
	}

	.search-container input.search {
		/* Styling */
		font-weight: 200;
		font-size: 1.5em;

		width: 560px;

		/* Positioning */
		margin: -9px 0 0 5px;
		line-height: 38px;
	}

	::-webkit-input-placeholder {
	   padding-top: 4px;
	   color: 		#888;
	}


	.search-container input.submit {
		display: none;
	}