/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	body { 
		background-color: #bbb;
		background-image: url('/assets/noise-bg.png'); 
	}

	@-moz-document url-prefix() {
    	div.sidenote {
        	line-height: 0;
        	padding-top: 0;
    	}

		#login-container a { text-decoration: underline; }
		#login-container p { position: relative; bottom: 19px;}

		#wellsaid-wizard { line-height: 0; }
		#welcome-container { line-height: 0; }
		.welcome-1 h1, .welcome-1 p { position: relative; top: -18px;}
		.welcome-1, .welcome-2, .v_divider { position: relative; top: 0px; }
		.wizard-1 a.pimp { position: relative; top: 24px; }

		.quote h1 { line-height: 0; }
	}

	p.note { font-weight: 300; margin-top: 18px; }

	div.sidenote {
		margin-left: 12px;
		float: left; 
		height: 34px; 
		padding-top: 3px;

	}

	.sidenote p { 
		color: #888; 
		font-size: 12px; 
	}
	
	.sidenote a { 
		color: #888; 
		font-size: 12px; 
		line-height: 0; 
		font-weight: bold;
		text-decoration: underline;
	}

	.mleft { margin-left: 24px; }
	.mleft-s { margin-left: 12px; }
	.mright { margin-right: 24px; }
	.mtop { margin-top: 24px; }
	.mbottom { margin-bottom: 24px; }
	.spacer-65 { width: 65px; position: relative; float: left; height: 188px; }
	.spacer-65 img { position: absolute; bottom: 0px; }
	.white { color: white; }
	.red { color: #f44; }

	header { width: 1140px; margin: 24px auto 0 auto; }
	header h1 { font-weight: bold; line-height: 0; color: #444; padding-left: 24px; text-transform: uppercase; }
	header #login-container {
		float: right;
		width: auto;
		height: 28px;
		position: relative;
	}

	header #login-container p, header #login-container a { font-size: 18px; float: left; padding-top: 14px; }
	header #login-container a { font-weight: bold; text-decoration: underline; }

	div.divider { width: 1140px; height: 1px; background-color: #fff; margin: 24px auto 24px auto; }
	div.v_divider { height: 192px; width: 1px; background-color: #fff; float: left; margin: 24px; }
	.container { max-width: 1140px; margin: 0 auto 0 auto; }

	#flash_notice {
		width: 256px;
		font-style: italic;
		font-size: 12px;
		display: inline;
	}

	a, p, h1, h2, h3, ul, li, input { 
		font-family: "Proxima Nova", "Muli", sans-serif; 
		-webkit-font-smoothing: antialiased; 
		-webkit-margin-before: 0;
		-webkit-margin-after: 0;
	}

	a {
		text-decoration: none;
		color: #444;
	}

	h1 {
		font-size: 27px;
		line-height: 36px;
		font-weight: 300;
	}

	h2 {
		
	}

	p {
		font-size: 18px;
		-webkit-margin-after: 0;
		-webkit-margin-before: 0;
		color: #444;
	}

	.logout a {
		color: #f44;
		text-decoration: underline;
	}

	form .field input {
		background-color: #bbb;
		border-top: none;
		border-left: none;
		border-right: none;
		border-bottom: solid 2px #888;
		color: #fff;
		font-size: 16px;
		text-align: center;
	}

	form .actions input {
		/*background-image: url("/assets/striped-bg.png");*/
		background-color: #a2e374;
		border: none;
		text-transform: uppercase;
		font-size: 16px;
		line-height: 30px;
		font-weight: bold;
		text-align: center;
	}
}

.striped-bg { background-image: url("/assets/striped-bg.png"); }

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}

}