/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

//= require evil-icons

/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

@import "fonts.css.scss";
@import	"variables.css.scss";

	body, html {
		padding: 0;
		margin: 0;
		height: 100%;
		width: 100%;
		background-color: $main-background-color;
	}

	html {
		overflow-y: scroll; 
	}

	.container {
		width: 100%;
		height: 100%;
		margin: 0 auto;
	}

	.fa {
		font-size: 24px;
	}

	.socicon {
		font-family: 'socicon' !important;
		text-transform: none !important;
	}

	* { 
		-webkit-overflow-scrolling: touch;
		-webkit-margin-before: 0;
		-webkit-margin-after: 0;
		margin: 0;
		-webkit-font-smoothing: antialiased;
		/* text-rendering: optimizeLegibility; */
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		font-weight: 400;
		line-height: 137%;
		font-family: $font-family-serif;
		font-size: $font-size-serif-1;
	}

	div, .quote-source a {
		vertical-align: top; /* Positions inline-block elements aligned to the elements top. */
	}

	button,
	em,
	a,
	p,
	li,
	input,
	div,
	h1, h2, h3, h4, h5 {
		color: inherit;
		font-weight: inherit;
		font-size: inherit;
		font-style: inherit;
		text-decoration: inherit;
		transition: inherit;
	}

	h1, h2, h3, h4, h5, h6 { margin: 0; }

	h1 {
		font-size: $font-size-serif-3;
	}

	h2, h3 {
		font-size: $font-size-serif-2;
	}

	h4, a, p, li, button, input, label, input[type="submit"] {
		font-size: $font-size-serif-1;
	}

	.actions input {
		background: transparent;
		width: 100%;
	}

	button, input {
		outline: none;
		background: none;
		border: none;
		padding: 0;
	}

	a {
		text-decoration: none;
		color: inherit;
	}

	a:hover {
		color: $w-primary-color;
	}

	header a , footer a, .splash-container a {
		color: $w-primary-color;
	}

	h1 + h3 {
		font-size: $font-size-sans-2;
		margin: $spacing-1 auto $spacing-3 auto; /* 15px auto 15*1.414*1.414*1.414 */
	}

	h2 + p {
		margin-top: $spacing-0;
	}

	ul, li {
		padding: 0;
		font-size: 0;
	}

	input[type='checkbox'], .search-container .submit { 
		display: none; 
	}

	.hr {
		width: 100%;
		height: 1px;
		background-color: $w-stroke-color;
		margin: $spacing-2 0;
	}

	.sidebar-list.tags .sidebar-list-button, .quote-tags .tag {
		text-transform: lowercase;
		&::before {
			content: '#';
		}
	}

	.icon.icon--s {
		width: 30px;
		height: 31px;
		& > svg {
			fill: $t-primary-color;
		}
	}
