@import "fonts.css.scss";
@import	"colors.css.scss";
@import	"properties.css.scss";

	.source-favicon, .filter-count, .sidebar-container, .content-container {
		display: inline-block;
	}

	.quote, .button, .popup, .source-favicon, .filter-count {
		border-radius: $border-radius;
	}

	.profile-name, .section-title {
		color: $sidebar-primary-text-color;
	}

	.sidebar-list-button, .profile-description, .sidebar-item-count > p {
		color: $sidebar-secondary-text-color;
	}

	.source-favicon {
		width: 24px;
		height: 24px;
		background-size: contain;
		background-blend-mode: multiply, normal;
		background-color: white;
		background-repeat: no-repeat;
		background-position: 50%;
		box-sizing: content-box;
		margin-right: 7px;
	}

/* 	
	# # # # # # # # # # # # # # # # # # # #

	SIDEBAR
	OPENING BUTTON 

	# # # # # # # # # # # # # # # # # # # #
*/

	.sidebar-toggle {
		margin-left: 44px;
		margin-top: 66px;
	}

	.sidebar-toggle-column {
		width: 112px;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, .03);

		&:hover {
			background-color: rgba(0, 0, 0, .05);
			cursor: pointer;
		}
	}




/* 	
	# # # # # # # # # # # # # # # # # # # #

	SIDEBAR
	CONTAINER SPECIFICS 

	# # # # # # # # # # # # # # # # # # # #
*/

	.sidebar-container {
		width: 336px;
		height: 100%;
		margin-left: -336px;
		padding: $spacing-small 0 0 0;
		background-color: $sidebar-background-color;
		position: fixed;
	}

	.sidebar-list li, .sidebar-section-title, .profile-name, .profile-description {
		padding: 0 $spacing-normal;
	}

	.sidebar-section-title svg {
		background-size: 18px;
		border: none;
		width: 18px;
		height: 18px;
		position: absolute;
		right: $spacing-normal;
		top: 2px;
		fill: $stroke-color;
	}

	.sidebar-section-title:hover, .sidebar-section-title.active:hover {
		cursor: pointer;
		& svg {
			fill: $sidebar-primary-text-color;
		}
	}

	.sidebar-section-title.active svg {
		-ms-transform: rotate(180deg); /* IE 9 */
	    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
	    transform: rotate(180deg);
	}

	.filters-container + .filters-container {
		margin-top: $spacing;
	}




/* 	
	# # # # # # # # # # # # # # # # # # # #

	SIDEBAR
	LIST SPECIFICS 

	# # # # # # # # # # # # # # # # # # # #
*/

	.sidebar-section-title {
		border-bottom: $quote-stroke;
		position: relative;
	}

	.section-title {
		line-height: 24px;
		margin-bottom: 8px;
		text-transform: uppercase;
	}

	.sidebar-list.tags {
		padding-top: 9px;
	}

	.sidebar-list.filters {
		padding: $spacing 0;
	}

	.sidebar-list.filters li {
		margin-bottom: 7px;
	}

	.sidebar-list.filters li .source-favicon {
		border: solid 2px white;
		box-sizing: border-box;
	}


		/* 
			LIST HOVER STATE 
		*/

		.sidebar-list li:hover .filter-count {
			border-color: $sidebar-secondary-text-color;
		}


		/* 
			LIST ACTIVE STATE 
		*/

		.sidebar-list li.active .sidebar-list-button {
			color: $sidebar-primary-text-color;
		}

		.sidebar-list li.active .filter-count {
			border-color: $sidebar-primary-text-color;
			background-color: $sidebar-primary-text-color;
		}

		.sidebar-list li.active p {
			color: $quote-primary-text-color;
		}


		/*
			LIST ITEM COUNT
		*/

		.filter-count {
			position: relative;
			top: 3px;
			display: inline-block;
			padding: 1px 5px 4px 7px;
			border: $sidebar-stroke;
			float: right;
			min-width: 20px;

			& > p {
				font-size: 13px;
				line-height: 13px;
				color: $sidebar-secondary-text-color;
			}
		}




		/*
			TAGS SPECIFICS
		*/

		.sidebar-list.tags .sidebar-list-button {
			line-height: 26px;
		}




/* SIDEBAR PROFILE SPECIFICS */
	
	.bottom-fix {
		position: absolute;
		width: 336px;
		bottom: 0;
	}

	.sidebar-section {
		margin-top: 0;
		padding: $spacing-small 0 0;
		border-top: $sidebar-stroke;
	}

	.profile-photo {
		width: 44px;
		border-radius: 22px;
		margin-left: 146px;
	}

	.profile-name {
		color: $sidebar-primary-text-color;
		text-align: center;
		display: block;
		margin-top: 5px;
	}

	.profile-description {
		color: $sidebar-secondary-text-color;
		margin-top: 0;
		margin-bottom: $spacing-small;
		line-height: 18px;
		text-align: center;
	}

	.sidebar-section .profile-link {
		color: $sidebar-secondary-text-color;
		float: left;
		width: 50%;
		text-align: center;
		padding: $spacing-small 0 $spacing 0;
		border-top: $sidebar-stroke;
		&:hover {
			background-color: $stroke-color;
			color: $sidebar-primary-text-color;
		}
		&:first-of-type {
			border-right: $sidebar-stroke;
		}
	}




/*    
############

GENERAL LAYOUT

############
*/

#search-filter {
	height: 100%;
}

#search-filter {
	transition: margin-left 0.13s;
}

#search-filter.active {
	margin-left: 336px;
}

.content-container {
	width: 100%;
	min-height: 100%;
	background-color: $main-background-color;
	padding: $spacing-normal 0 $spacing-big;
}