@import "fonts.css.scss";
@import	"variables.css.scss";
@import "components.css.scss";

.container.no-sidebar {
	& .center-container {
		padding-left: 84px;
		margin: 0 auto;
	}
}

.center-container {
	padding-left: calc(370px + 84px);
	max-width: 720px;
	box-sizing: content-box;
	padding-right: 84px;
}

.header-container {
	position: fixed;
	left: 0;
	width: 100%;
	overflow-y: hidden;
	background-color: $w-primary-color;
	color: white;
	height: 56px;
	z-index: 3;
	padding-top: 11px;
}

.header-container a:hover {
	color: inherit;
	border-bottom: solid 1px #444;
}

.header-container .quotes-title.indent {
	margin-left: 20px;
}

.header-container .quotes-title {
	float: left;
}

.header-container .profile-mainpage-container,
.header-container .profile-name {
	float: right;
}

.header-container .quotes-title,
.header-container .profile-name {
	line-height: 32px;
}

.header-container .quotes-title,
.header-container .profile-name,
.search-field,
.sidebar-list-container ol li a,
.sidebar-list-container ol li button,
.sidebar-list-container li .filter-count,
.sidebar-list-button {
	font-weight: lighter;
}

.header-container .quotes-title {
	font-size: $font-size-sans-2;
}

.header-container .profile-name {
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	font-size: $font-size-sans-1;
	color: $t-secondary-color;
}

.header-container .profile-photo {
	width: 28px;
	height: 28px;
	border-radius: 17px;
	margin-right: 6px;
	padding: 3px;
	box-sizing: content-box;
	background-color: #fff;
}

/* Search */

.search-field-container .icon--ei-search {
	margin-left: -6px;
}

.search-field-container {
	position: relative;
	margin: 0;
	width: 100%;
	font-size: 0;
	padding: 5px 10px;
	border: solid 1px #ddd;
	& .submit {
		display: none;
	}
}

.search-field {
	padding: 0;
	font-size: $font-size-sans-2;
	font-family: $font-family-serif;
	color: $w-primary-color;
	&::-webkit-input-placeholder {
   		color: $w-secondary-color;
   	}
	&:-moz-placeholder { /* Firefox 18- */
		color: $w-secondary-color;
	}

	&::-moz-placeholder {  /* Firefox 19+ */
	   	color: $w-secondary-color;
	}

	&:-ms-input-placeholder {  
	   	color: $w-secondary-color;
	}
}

.sidebar-list-container .favicon {
	background-size: 24px;
	width: 24px;
	height: 24px;
	float: left;
}

.sidebar-list-container.sources ol li a {
	margin-left: 10px;
}

.sidebar-list-container ol li {
	margin-bottom: 10px;
}

.sidebar-list-container.tags ol li {
	margin-bottom: 6px;
}

.sidebar-list-container li .filter-count {
	float: right;

	background-color: transparent;
	padding: 0 6px;
	text-align: center;
	color: $w-secondary-color;
	padding-top: 0px;
	border-radius: 3px;
	line-height: 20px;
	border: solid 1px transparent;
}

.sidebar-list-container li:hover {
	cursor: pointer;
}

.sidebar-list-container li:hover:not(.active) .filter-count {
	border: solid 1px $t-stroke-color;
}

.sidebar-list-container li:hover:not(.active) .sidebar-list-button {
	color: $w-primary-color;
}

.sidebar-list-container li.active .filter-count {
	background-color: $w-signature-color;
	color: $t-primary-color;
}

.noted-logo {
	background-image: image-url('N_logo_24x24@1x.png');
	background-size: 24px;
	background-position: 18px 50%;
	background-repeat: no-repeat;
	display: block;
	width: 0;
	height: 57px;	
	line-height: 59px;

	/* Make the Noted text fit in.. */
	padding-right: 68px;
	padding-left: 60px;
	font-size: 12px;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #fff;

	/* Make the box pretty */
	/*border: solid 1px rgba(0, 0, 0, .1);*/
	border-radius: 3px;
	background-color: #c9c6c3;

	/* Positioning it */
	position: absolute;
	bottom: 38px;
}

.sidebar-container .noted-logo:hover {
	color: white;
}

.sidebar-list-container li.active a {
	color: $w-primary-color;
}

/* Sidebar arrow */

.sidebar-list-container .sidebar-section-title:hover {
	cursor: pointer;
}

.sidebar-section-title {
	margin-bottom: $spacing-0;
	overflow: hidden;
}

.sidebar-section-title svg {
		opacity: 0;
}

.sidebar-section-title:hover svg {
		opacity: 1;
}

.sidebar-list-container.sources .sidebar-section-title {
	margin-bottom: 13px;
}

.sidebar-section-title .section-title {
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-bottom: solid 1px #ccc;
	padding-bottom: 6px;
	float: left;
	color: $w-primary-color;
	font-weight: normal;
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.sidebar-list-button {
	color: #999;
	line-height: 22px;
}

.sidebar-section-title:hover .icon.icon--s {
	display: inline-block;
}

.sidebar-section-title .icon.icon--s {
	position: relative;
	margin-top: -7px;
	right: -3px;
	float: right;
	& svg {
		fill: $w-primary-color;
	}
	transition: opacity .1s;
}

.sidebar-section-title.open .icon.icon--s {
	transform: rotate(180deg);
	display: inline-block;
	& svg {
		fill: $w-primary-color;
		opacity: 1;
	}
}

/* Filters */

.sidebar-container {
	width: $sidebar-width;
	height: 100%;
	padding: 56px 0 0 0;
	z-index: 1;
	overflow-y: auto;
	position: fixed;
	left: 0;
	background-color: $sidebar-background-color;
	color: $w-secondary-color;
	& a:hover {
		color: $w-primary-color;
	}
}

.sidebar-content {
	height: 100%;
	border-right: solid 1px #ddd;
	padding: $spacing-2;

}

.sidebar-list-item,
.description,
.filter-count,
.profile-section {
	color: $w-secondary-color;
}

.sidebar-list-container {
	padding-top: $spacing-2;
	overflow-y: hidden;
	& .sidebar-list {
		padding-top: $spacing-0;
		&.tags {
			padding-top: 4px;
		}
		font-weight: 400;
		& .sidebar-list-item {
			position: relative;
			overflow-y: hidden;
			transition: color .1s, opacity .1s, background-color .1s, border-color .1s;
			& button {
				line-height: 28px;
				position: absolute;
				left: 0;
				padding-left: 31px;
				width: 100%;
				text-align: left;
			}
			& .source-favicon {
				background-repeat: no-repeat;
				background-color: $sidebar-background-color;
				background-blend-mode: darken;
				-webkit-background-blend-mode: darken;
				background-position: 50%;
				width: 24px;
				height: 24px;
			}
		}
		& 	.sidebar-list-item.active,
			.sidebar-list-item:hover button,
			.sidebar-list-item:hover .filter-count { 
				color: $w-primary-color;
		}
		& .sidebar-list-item:hover {
			cursor: pointer;
			& .filter-count { 
				border-color: $t-stroke-color;
			}
		}
		& .sidebar-list-item.active {
			& button {
				color: $w-primary-color;
			}
			& .filter-count {
				background-color: $w-stroke-color;
				color: $w-primary-color;
			}
			&:hover .filter-count { 
				border-color: transparent;
			}
		}
	}

	& .sidebar-list.status {
		padding-top: 0;
		& button h4 {
			line-height: 30px;
		}
		& .source-favicon {
			background-size: auto;
			background-color: transparent;
		}
	}

	.sidebar-list.tags .sidebar-list-item {
		margin-top: 4px;
	}

	& .sidebar-list.tags button, .sidebar-list.status button {
		padding-left: 0;
	}

	& .sidebar-list-item.active.disabled {
		pointer-events: auto;
		& button {
			color: $t-primary-color;
		}
	}

	& .sidebar-list-item.disabled {
		pointer-events: none;
		& button, .filter-count {
			color: $w-secondary-color;
		}
	}

	& .sidebar-list-item.disabled .filter-count {
		background-color: transparent;
	}

	& .sidebar-list.filters .sidebar-list-item {
		margin-bottom: 10px;
	}
}