$board-background: #8a3d5d;
$sidebar-background: #fff;
$color-red: #8a3d5d;
$color-logo: #fff;
$primary-text-color-on-red: #fff;
$secondary-text-color-on-red: #e2bccc;
$placeholder-text-color-on-red: #4e142d;
$primary-text-color-on-white: #333;
$secondary-text-color-on-white: #8d8d8d;
$link-color-on-white: #893c5c;
$link-color-on-red: #fff;
$color-border-gray: #ddd;
$color-border-red: #753550;

/*    
############

GENERAL LAYOUT

############
*/

.boards-wrapper, #search-filter {
	height: 100%;
}

#search-filter {
	font-size: 0; /* To remove spacings added by inline-block attrib. */

	margin-left: 336px;
	transition: margin-left 0.13s;
}

#search-filter.active {
	margin-left: 336px;
}

.sidebar-container, .content-container {
	display: inline-block;
}

.sidebar-container {
	width: 336px;
	height: 100%;
	margin-left: -336px;
	padding: 39px 0;
	background-color: $sidebar-background;
	position: fixed;
}

.sidebar-padding {
	padding: 0 48px;
}

.sidebar-logo {
	margin: 32px 0;
	text-align: center;

	& > svg {
		width: 70px;
		border-bottom: solid 4px #e6e6e6;
		padding-bottom: 6px;
		box-sizing: content-box;
		text-align: center;
	}
}

.content-container {
	width: 100%;
	min-height: 100%;
	background-color: $board-background;
	padding: 0;
}

/*    
############

SIDEBAR SPECIFICS

############
*/

.sidebar-container:hover .filters-container {
	opacity: 1;
	transition: opacity	.23s;
}

.filters-container {
	opacity: 1;
	transition: opacity .23s;
}

.filters-title {
	margin-bottom: 11px;
	color: $primary-text-color-on-white;
	font-size: 24px;
	line-height: 24px;
}

.filters-list-button {
	background: none;
	border: none;
	padding: 0;
	color: $secondary-text-color-on-white;
	font-size: 15px;
	line-height: 26px;
	margin-left: 7px;
	font-family: "karmina-sans", sans-serif;
}

.filters-list {
	border-top: solid 1px $color-border-gray;
	padding-top: 20px;
}

.filters-list li {
	font-size: 0;
}

.filters-list li.active .filters-list-button {
	color: #70142a;
}

.filters-list li + li {
	margin-top: 10px;
}


.filters-list .source-favicon {
	/* Styling */
	width: 24px;
	height: 24px;
	background-size: contain;

	/* Positioning */
	display: inline-block;

	/* Experimental blend mode */
	background-blend-mode: multiply, normal; /* Chrome Canary */
	-webkit-background-blend-mode: multiply, normal; /* WebKit Nightly */
}

.filters-list input { 
	display: none; 
}

.source-count {
	position: relative;
	top: 3px;
	display: inline-block;
	padding: 2px 5px 3px 6px;
	letter-spacing: 1px;
	border: solid 1px #ddd;
	float: right;
	border-radius: 4px;

	& > p {
		font-size: 13px;
		font-family: "karmina-sans", sans-serif;
		line-height: 13px;
		color: $secondary-text-color-on-white;
	}
}

.sidebar-padding.active .source-count {
	border: solid 1px $board-background;
	background-color: $board-background;
	& > p {
		color: $primary-text-color-on-red;
	}
}

.sidebar-profile {
	margin-top: 0;
	padding: 32px 0;
	border-top: solid 1px $color-border-gray;
	border-bottom: solid 1px $color-border-gray;
}

.profile-photo {
	width: 40px;
	border-radius: 20px;
	margin-right: 16px;
}

.profile-name {
	line-height: 42px;
	color: $primary-text-color-on-white;
}

.sidebar-profile p {
	font-family: "karmina-sans", sans-serif;
	font-size: 13px;
	color: $secondary-text-color-on-white;
}

.profile-description {
	line-height: 19px;
	margin-top: 13px;
	margin-bottom: 16px;
}

.sidebar-profile .profile-link {
	font-size: 13px;
	color: $link-color-on-white;
	font-family: "karmina-sans", sans-serif;
}

.bottom-fix {
	position: absolute;
	width: 336px;
	bottom: 0;
}

/*    
############

SEARCH SPECIFICS

############
*/

.content-container .content-padding {
	margin-left: 48px;
}

.quotes-container {
	padding-left: 48px;
	padding-bottom: 192px;
	overflow-y: auto;
	position: relative;
	margin-top: -48px;
}

.search-container {
	border-bottom: solid 1px $color-border-red;
	margin: 0 0 24px 0;
	padding: 29px 0 2px 0;
	width: 100%;
}

.search-container > img {
	width: 24px;
	vertical-align: baseline;
	position: relative;
	top: 4px
}

.search-container .search {
	border: none;
	background: transparent;
	padding: 0px 0px 0px 10px;
	width: 300px;
	color: $primary-text-color-on-red;
	font-size: 24px;
	line-height: 40px;
	height: 30px;
	margin-bottom: 11px;
	font-weight: 400;
	font-family: "adobe-caslon-pro", serif !important;
}

.search-container .search::-webkit-input-placeholder {
	color: $placeholder-text-color-on-red;
}

.search-container .submit {
	display: none;
}

/*    
############

INTRO SPECIFICS

############
*/


	.intro-container {
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		z-index: 1;
		overflow-y: scroll;
	}

	.intro-container.complete {
		opacity: 0;
		transition: opacity .67s;
	}

	.intro-container.overlay {
		background-color: rgba(0, 0, 0, .7);
	}

	.tutorial-wrapper .button {
		background-color: #fff;
		color: #70142a;
		width: 304px;
		margin: 32px auto 0 auto;
	}

	.boards-wrapper.blurred {
		-webkit-filter: blur(2px);
		-moz-filter: blur(2px);
		-o-filter: blur(2px);
		-ms-filter: blur(2px);
		filter: blur(2px);
		opacity: 0.6;
		-webkit-transform: scale(0.97) translateY(42px);
	}