$stroke-color:					#ccc;

$sidebar-background-color:		white;
$sidebar-primary-text-color:	rgba(0, 0, 0, .65);
$sidebar-secondary-text-color:	rgba(0, 0, 0, .4);
$sidebar-stroke-inactive:		solid 1px transparent;
$sidebar-stroke:				solid 1px $stroke-color;

$main-background-color:			rgb(246, 243, 240);
$quote-primary-text-color:		rgb(51, 51, 51);
$quote-secondary-text-color:	rgba(0, 0, 0, .4);
$quote-stroke:					$sidebar-stroke;
$quote-hover-text-color:		#6CDAB7;

$popup-background-color:		#c872d0;
$popup-primary-text-color:		#fff;
$popup-secondary-text-color:	#fff;
$popup-stroke:					$sidebar-stroke;
$popup-shadow-color:			0 1px 3px 0px $stroke-color;

$background-hover-color:		rgba(0, 0, 0, .06);
$background-active-color:		rgba(0, 0, 0, .17);
$background-selected-color:		rgba(255, 255, 255, .17);