$stroke-color:					rgba(0, 0, 0, .17);

$sidebar-background-color:		rgb(51, 51, 51);
$sidebar-primary-text-color:	rgb(255, 255, 255);
$sidebar-secondary-text-color:	rgba(255, 255, 255, .5);
$sidebar-stroke:				solid 1px $stroke-color;

$main-background-color:			rgb(246, 243, 240);
$quote-primary-text-color:		rgb(51, 51, 51);
$quote-secondary-text-color:	rgba(0, 0, 0, .5);
$quote-stroke:					$sidebar-stroke;
$quote-hover-text-color:		#893c5c;

$popup-background-color:		$sidebar-background-color;
$popup-primary-text-color:		$sidebar-primary-text-color;
$popup-secondary-text-color:	$sidebar-secondary-text-color;
$popup-stroke:					$sidebar-stroke;
$popup-shadow-color:			0 1px 3px 0px $stroke-color;

$background-hover-color:		rgba(0, 0, 0, .06);
$background-active-color:		rgba(0, 0, 0, .17);
$background-selected-color:		rgba(255, 255, 255, .17);
