@import "variables.css.scss";
@import "fonts.css.scss";

.grayscale {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(1);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray; /* IE 6-9 */;
	transition: filter .1s;
	&:hover {
		-webkit-filter: grayscale(0%);
		-moz-filter: grayscale(0);
		-ms-filter: grayscale(0%);
		-o-filter: grayscale(0%);
		filter: grayscale(0%);
		filter: gray; /* IE 6-9 */;
	}
}