@import "variables.css.scss";
@import "fonts.css.scss";

.button {
	border: solid 1px $w-stroke-color;
}

.small.button {
	padding: 3px 4px 2px;
	opacity: 1;
	max-height: 24px;
	line-height: 15px;
	border-radius: 2px;
	text-align: center;
}

/* Filter count */

.filter-count {
	border-radius: 12px;
	display: inline-block;
	border: $w-stroke-color;
	padding: 4px 8px 2px 7px;
	float: right;
	margin-top: 0px;

	& > p {
		font-family: "fira-mono";
		line-height: 18px;
		margin: 0;
	}
}

/* Favicon */

.source-favicon {
	width: 24px;
	height: 24px;
	float: left;
	margin-right: $spacing-0;
	background-size: contain;
}

/* Sidebar arrow */

.sidebar-section-title {
	overflow-y: auto;
	border-bottom: solid 1px #e6e6e6;
	padding-bottom: 7px;
	&:hover {
		cursor: pointer;
		& svg {
			display: block;
		}
	}
}
.sidebar-section-title h4.section-title {
	float: left;
	font-weight: 600;
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.sidebar-list {
	clear: both;
}

.sidebar-section-title svg {
	background-size: 16px;
	border: none;
	width: 16px;
	height: 16px;
	margin-right: 3px;
	float: right;
	fill: $w-secondary-color;
	display: none;
}

.sidebar-section-title.open svg {
	transform: rotate(180deg);
	fill: $w-primary-color;
	display: block;
}

/* New quote symbol */

.quote-source-status-new {
	background-color: $w-signature-color;
	width: 16px;
	height: 16px;
	border-radius: 12px;
	float: right;
	display: none;
}