$font-family-serif:	"adriane", Georgia, serif;
$font-family-sans:	"jaf-bernino-sans", Helvetica, sans-serif;

$font-size-sans:	15px;
$font-size-serif:	16px;

$font-size-sans-0:	$font-size-sans * 0.866;
$font-size-sans-1:	$font-size-sans;
$font-size-sans-2:	$font-size-sans-1 * 1.619;
$font-size-sans-3:	$font-size-sans-2 * 1.619;

$font-size-serif-0:	$font-size-serif * 0.866;
$font-size-serif-1:	$font-size-serif;
$font-size-serif-2:	$font-size-serif-1 * 1.619;
$font-size-serif-3:	$font-size-serif-2 * 1.619;

$line-height-serif:	1.619em;