@import "variables.css.scss";

.l-sidebar {
	position: fixed;
	width: $sidebar-width;
}

.quotes-container {
	padding-left: $spacing-5;
	padding-right: $spacing-5;
}

.no-sidebar .quotes-container {
	padding-left: $spacing-5;
}

.center-container,
.quote {
	width: 100%;
	max-width: $sidebar-width * 2;
	margin: 0 auto;
}

.no-sidebar .header-element.sidebar {
	width: auto;
	position: fixed;
	padding-left: $spacing-2;
}

.no-sidebar .header-element.center {
	text-align: center;
}

.no-sidebar .sidebar-container {
	display: none;
}

.quote-content * {
	line-height: 1.45em;
}

.quote-content.small * {
	line-height: 1.65em;
}

.quote-content.big * {
	line-height: 1.25em;
}

.quote-content.small h1::first-letter {
	font-size: 3.31em;
	float: left;
	line-height: 0.48em;
	margin-right: 5px;
	margin-top: .32em;
	text-transform: uppercase;
}

.sidebar-container,
.header-element.profile a {
	display: none;
}

.header-element.profile img {
	margin-right: 0;
}

@media screen and (min-width : 320px) {

	.center-container .header-element {
		padding: $spacing-3 $spacing-2;
		&.profile { padding-top: $spacing-3 + 6; }
	}

	.quotes-container {
		padding-left: $spacing-1;
		padding-right: $spacing-1;
	}

	.quote {
		margin-bottom: $spacing-2;
		padding: $spacing-2;
	}

	.quote-content.big * {
		font-size: 23px;
		line-height: 1.35em;
	}

	.quote-content *,
	.quote-content.small * {
		font-size: 16px;
	}
}

@media screen and (min-width : 480px) {

	.center-container .header-element {
		padding-left: 0;
		padding-right: 0;
	}

	.header-element.profile a {
		display: inline;
	}

	.header-element.profile img {
		margin-right: 5px;
	}

	.quotes-container {
		padding-left: $spacing-3;
		padding-right: $spacing-3;
	}

	.quote {
		padding: $spacing-2 $spacing-3 $spacing-1;
		border-radius: 3px;
	}
}

@media screen and (min-width : 640px) {
	.quotes-container {
		padding-left: $spacing-5;
		padding-right: $spacing-5;
	}

	.quote {
		margin-bottom: $spacing-4;
		padding: $spacing-2 $spacing-3 $spacing-1;
	}

	.quote-content * {
		font-size: 27px;
	}

	.quote-content.small * {
		font-size: 19px;
	}

	.quote-content.big * {
		font-size: 38px;
	}

	.quote-content.big h1::before {
		content: '“';
		color: $w-stroke-color;
		font-size: 3.66em;
		line-height: .5em;
		position: relative;
		top: .24em;
		margin-right: .16em;
		float: left;
	}
}

@media screen and (min-width : 1024px) {
	.sidebar-container {
		display: block;
	}

	.quotes-container {
		padding-left: $sidebar-width + $spacing-5;
		padding-right: $spacing-5;
	}
}