@import "variables.css.scss";

.l-sidebar {
	position: fixed;
	width: $sidebar-width;
}

.quotes-container {
	padding-left: $spacing-5;
	padding-right: $spacing-5;
}

.no-sidebar .quotes-container {
	padding-left: $spacing-5;
}

.center-container,
.quote {
	width: 100%;
	max-width: $sidebar-width * 2;
	margin: 0 auto;
}

.no-sidebar .header-element.sidebar {
	width: auto;
	position: fixed;
	padding-left: $spacing-2;
}

.no-sidebar .header-element.center {
	text-align: center;
}

.no-sidebar .sidebar-container {
	display: none;
}

.quote-content * {
	font-size: 27px;
	line-height: 1.45em;
}

.quote-content.small * {
	font-size: 19px;
	line-height: 1.65em;
}

.quote-content.big * {
	font-size: 38px;
	line-height: 1.25em;
}

.quote-content.small h1::first-letter {
	font-size: 3.31em;
	float: left;
	line-height: 0.48em;
	margin-right: 5px;
	margin-top: .32em;
	text-transform: uppercase;
}

.quote-content.big h1::before {
	content: '“';
	color: $w-stroke-color;
	font-size: 3.66em;
	line-height: .5em;
	position: relative;
	top: .24em;
	margin-right: .16em;
	float: left;
}

.sidebar-container {
	display: none;
}

@media screen and (min-width : 1024px) {
	.sidebar-container {
		display: block;
	}

	.quotes-container {
		padding-left: $sidebar-width + $spacing-5;
	}
}