.o-authentication {
	width: 100%;
	min-height: 100%;
}

.o-authentication header {
	width: 100%;
	padding: 36px 0 15px;
}

.o-authentication .c-noted-logo {
	margin: 0 auto;
}

.o-form_container {
	width: 100%;
	max-width: 480px;
	min-width: 240px;
	margin: 0 auto;
	text-align: center;
	padding: 0 14px;
}

.o-authentication h1 {
	font-size: 43px;
	font-weight: 100;
	letter-spacing: -2px;
} 

.o-form_container {
	& h4 + a { margin-top: 32px; }
	& a + h4 { 
		margin-top: 20px; 
		margin-bottom: 20px;
		color: #999;
		font-size: 13px;
		text-transform: uppercase;
	}
}

.o-authentication .c-divider {
	margin: 24px auto;
}

.o-form_container > a {
	display: inline-block;
}

.o-form_container input,
.o-authentication .c-divider {
	min-width: 200px;
	max-width: 292px;
	width: 100%;
}

.o-form_container .field + .field {
	margin-top: 9px;
}

.o-form_container .field + .actions {
	margin-top: 18px;
}

.o-form_container .field label {
	display: none;
}

.o-form_container .field input {
	padding: 9px;
	border-bottom: solid 1px;
	text-align: center;
}

.o-form_container .actions input {
	padding: 14px;
	border: solid 1px #444;
	border-radius: 40px;
	width: auto;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	line-height: 16.44px;
}

.t-black {
	background-color: #161616;
	color: #ddd;
}

.t-black * {
	-webkit-font-smoothing: antialiased;
}

.t-black .c-divider {
	background-color: #333;
}

.t-black .o-form_container .field input {
	border-color: #333;
	&:hover { border-color: #444; }
	&:focus { background-color: #444; }
}