// Place all the styles related to the Quotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media (min-width: 320px) {
	.quote {
		width: 100%;
	}
}

@media (min-width: 768px) {
	.quote {
		width: 520px;
	}
}
.quote {

	padding: 30px;
	border-bottom: solid 1px #fff;

	&:hover .quote-content p {
		color: #323232;
	}

	&:hover .quote-share {
		opacity: 1;
	}
}

.quote-metadata {
	margin-bottom: 8px;
	& * {
		display: inline-block;
	}

	& img {
		height: 32px;
		width: 32px;

		margin-right: 8px;
	}

	& a {
		/* Styling */
		color: #a0a0a0;
		font-weight: 600;

		/* Positioning */
		line-height: 29px;
	}
}

.quote-content p {
	font-family: "ff-tisa-web-pro";
	font-size: 1.25em;
	line-height: 1.33em;
	color: #a0a0a0;

	&.small { 
		font-size: 1em; 
	}

	&.big {
		font-size: 1.5em;
	}

	/* Transitions */
	-webkit-transition: all .2s ease;
}

.quote-share {
	padding-top: 15px;
	opacity: 0;

	/* Transitions */
	-webkit-transition: all .2s ease;
}

.quote-share a {
	/* Styling */
	color: #00b893;
	font-size: .875em;

	/* Positioning */
	float: right;
}
