/* LIST VIEW */

@import "fonts.css.scss";
@import	"variables.css.scss";
@import "components.css.scss";

.quote {

	/* General size and look of a quote */
	background-color: white;
	max-width: 720px;
	margin: $spacing-2 auto;
	padding: $spacing-2 $spacing-3 $spacing-2;
	color: $w-primary-color;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .09);

	/* General look and attributes of metadata */
	& .quote-metadata {
		color: $w-secondary-color;
		overflow-y: hidden;
		& h4, p, a {
			font-size: 14px;
			margin: 0;	
		}
	}

	/* SOURCE */

	& .quote-source-title-container {
		width: 100%;
		float: left;
	}

	& .quote-source-data-container {
		float: right;
		position: relative;
	}

	& .quote-source-title-data-wrapper {
		padding-left: 34px;
	}

	.quote-source-title,
	.quote-source-date {
		position: relative;
		top: 4px;
	}

	& .quote-source-date {
		width: 100%;
		text-align: right;
		text-transform: none;
	}

	&.unread {

		& .quote-source-data-container * {
			transition: opacity .13s ease-out;
			display: block;
		}

		& .quote-source-date { opacity: 0; }
		& .quote-source-status-new { opacity: 1; }

		&:hover {
			& .quote-source-date { opacity: 1; }
			& .quote-source-status-new { opacity: 0; }
		}
	}

	&.unread .quote-source-status-new {
		opacity: 1;
		position: absolute;
		top: 4px;
		right: 0;
	}

	/* ACTIONS */

	.quote-actions {
		margin: $spacing-1 0 0;
		padding-top: 3px;
		overflow-y: auto;
		float: left;
	}

	.quote-actions .append-tag {
		margin-top: -2px;
		opacity: 0;
		float: left;
		transition: opacity 0.09s ease-out;
	}

	.quote-actions:hover .append-tag {
		opacity: 1;
	}

	&:hover .quote-actions + .button.view {
		opacity: 1;
	}
	.quote-actions + .button.view {
		display: inline-block;
		margin-top: $spacing-1 + 1;
		float: right;
		font-weight: bold;
		font-size: 19px;
		line-height: 17px;
		padding: 3px 7px 2px;
		opacity: 0;
		transition: opacity .09s ease-out;
		&:hover {
			background-color: $w-signature-color;
			color: $quote-background-color;
			border-color: transparent;
		}
	}

	.append-tag:hover {
		color: $quote-background-color;
		border-color: $w-signature-color;
		background-color: $w-signature-color;
	}

	& .quote-actions .new-tag {
		width: 91px;
		border: solid 1px #ccc;
		border-radius: 2px;
		padding: 1px 3px 0 3px;
		margin-top: -2px;
		margin-right: 6px;
	}

	/* TAGS */

	& .quote-tags {
		float: left;
	}

	& .quote-tags .quote-tag {
		float: left;
		margin-right: 6px;
		& .remove-tag {
			margin-left: 3px;
		}
		&:hover a {
			color: $w-signature-color;
		};
		&:hover .remove-tag {
			color: $w-secondary-color;
		}
		&:hover .remove-tag:hover {
			color: $w-signature-color;
		}
		& a {
			color: $w-secondary-color;
		}
	}
}

/* ACTUAL QUOTE */

.quote-content p {
	font-family: $font-family-serif;
	margin-top: $spacing-1;
	margin-bottom: 0;
}

.quote-content .highlight {
	font-size: inherit;
	font-family: inherit;
	vertical-align: baseline;
	background-color: #ddd;
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
	.quote .quote-metadata h4,
	.quote .quote-metadata p,
	.quote .quote-metadata a {
		font-size: 13px;
	}

	.quote .quote-metadata {
		overflow: visible;
	}

	.quote .quote-content {
		clear: both;
		padding-top: $spacing-0;
		& p {
			margin-top: 0;
		}
	}

	.quote .quote-source-date {
		display: none;
	}

	.quote .quote-source-title {
		top: 4px;
	}

	.quote .quote-source-title-container {
		line-height: 18px;
	}

	.quote .quote-source-data-container {
		float: left;
		clear: left;
	}

	.quote-content.small p {
		font-size: 0.9em;
		line-height: 1.619em;
	}

	.quote-content.big p {
		font-size: 1.39em;
		line-height: 1.619em;
	}

	.quote-content p {
		font-size: 1.07em;
		line-height: 1.619em;
	}
}

@media only screen and (min-width : 481px) and (max-width : 640px) {

	.quote .quote-source-date {
		display: none;
	}

	.quote-content.small p {
		font-size: .95em;
		line-height: 1.619em;
	}

	.quote-content.big p {
		font-size: 1.52em; /* 1.17 * 1.3 */
		line-height: 1.619em;
	}

	.quote-content p {
		font-size: 1.17em; /* 0.9 * 1.3 */
		line-height: 1.619em;
	}
}

@media only screen and (min-width : 641px) {

	.quote-content.small p {
		font-size: 16px;
		line-height: 1.75em;
	}

	.quote-content p {
		font-size: 20px; /* 19.5px */
		line-height: 1.8em;
	}

	.quote-content.big p {
		font-size: 27px; /* 25.35px */
		line-height: 1.7em;
	}
}

@media only screen and (min-width : 320px) and (max-width : 808px) {

	.quote .quote-source-data-container {
		float: left;
		clear: both;
		margin-top: -2px;
	}
}


/*

	##############################

	SHOW PAGE

	##############################

*/

.quotes-container .options {
	margin: 0 auto;
	padding: 0 $spacing-3 0 0;
	max-width: 720px;
	&:first-of-type {
		padding-bottom: $spacing-2;
		border-bottom: solid 1px $w-stroke-color;
		& .small.button {
			background-color: $w-secondary-color;
			border-color: transparent;
			color: white;
		}
	}
	& p {
		padding-left: $spacing-3;
		float: left;
		color: $w-secondary-color;
	}
	& .small.button:hover {
		background-color: $w-signature-color;
		color: white;
		border-color: transparent;
	}
	& .small.button.remove {
		color: red;
		float: right;
		min-height: 26px;
		line-height: 20px;
		margin-top: -3px;
	}
	& .small.button.remove:hover {
		background-color: red;
		color: white;
	}
}