@import "fonts.css.scss";
@import	"variables.css.scss";
@import "components.css.scss";


/* Search */

.sidebar-container,
.sidebar-list-item,
.list-item-count {
	color: $w-secondary-color;
}

.sidebar-container {
	min-width: 320px;
	max-width: 370px;
	min-height: 100%;
	padding: 0 $spacing-3;
	background-color: #fff;
	box-shadow: 1px 0px 5px #D5CCBB;

}

.search-field-container {
	width: 100%;
	border-radius: 3px;
	padding: 7px;
	border: solid 1px $w-stroke-color;
	& .submit {
		display: none;
	}
}

.search-field {
	padding: 2px 0 0;
	font-size: $font-size-sans-2;
	font-family: $font-family-serif;
	color: $w-primary-color;
	&::-webkit-input-placeholder {
   		color: $w-secondary-color;
   	}
	&:-moz-placeholder { /* Firefox 18- */
		color: $w-secondary-color;
	}

	&::-moz-placeholder {  /* Firefox 19+ */
	   	color: $w-secondary-color;
	}

	&:-ms-input-placeholder {  
	   	color: $w-secondary-color;
	}
}








/*


	SIDEBAR SECTION TITLE HEADER

	.sidebar-list-container
		-> .sidebar-section.header


*/
.sidebar-section-header {
	overflow: hidden;
	border-bottom: solid 1px $w-stroke-color;
	margin-bottom: $spacing-0;
}

.sidebar-section-header .section-title {
	font-size: $font-size-sans-0;
	text-transform: uppercase;
	letter-spacing: 1px;
	float: left;
	color: $w-primary-color;
}

.sidebar-section-header {
	& .icon {
		position: relative;
		margin-top: -7px;
		right: -3px;
		float: right;
		transition: opacity .1s;
	}

	& svg {
		opacity: 0;
		fill: $w-primary-color;
		position: relative;
		top: -1px;
	}
}

.sidebar-section-header:hover svg {
		opacity: 1;
}

.sidebar-section-header.open {
	& .icon {
		transform: rotate(180deg);
	}

	& svg {
		fill: $w-primary-color;
		opacity: 1;
	}
}









/*


	SIDEBAR LIST ITEM

	ol > li


*/

.sidebar-list-item {
	margin-bottom: 10px;
	&:last-of-type {
		margin-bottom: 0;
	}

	& .list-item-icon {
		background-size: 24px;
		width: 24px;
		height: 24px;
		float: left;
		margin-right: 10px;
	}

	& .list-item-count {
		float: right;
		min-width: 24px;
		padding: 0px 6px 1px;
		text-align: center;
		border-radius: 3px;
		border: solid 1px transparent;
	}
}

.sidebar-list-item:hover:not(.active) {
	& .list-item-count {
		background-color: $main-background-color;
	}
	& .list-item-title {
		color: $w-primary-color;
	}
}

.sidebar-list-item.active {
	& .list-item-count {
		background-color: $w-signature-color;
		color: $t-primary-color;
	}
	& .list-item-title {
		color: $w-primary-color;
	}
}










/*


	HOVER & BEHAVIORAL STATES


*/
.sidebar-section-header {
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.sidebar-section-header:hover,
.sidebar-list-item:hover {
	cursor: pointer;
}

.sidebar-list-container.tags .sidebar-list-item {
	margin-bottom: 5px;
}

.sidebar-section-header,
.sidebar-logo {
	margin-top: $spacing-3;
}








/*


	LOGO


*/
.noted-logo {
	background-image: image-url('N_logo_24x24@1x.png');
	background-size: 24px;
	background-position: 18px 50%;
	background-repeat: no-repeat;
	display: block;
	width: 0;
	height: 57px;	
	line-height: 59px;

	/* Make the Noted text fit in.. */
	padding-right: 68px;
	padding-left: 60px;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: $t-primary-color;

	/* Make the box pretty */
	border-radius: 3px;
	background-color: $w-signature-color;
}

.sidebar-container .noted-logo:hover {
	background-color: #fff;
	background-image: image-url('logo_24x24@1x.png');
	color: $w-secondary-color;
}