// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field input::-webkit-input-placeholder { color: #666; }
.field input:-moz-placeholder { color: #666; }

div.error_explanation ul {
	display: none;
	-webkit-padding-start: 0px;
	li {
	font-size: 12px;
	font-style: italic;
	color: #000;
	list-style: none;
	}
}
.grey-0 { 
	background-color: #222;
	&div.quote-details {
		background-color: #000;
	}
}
.grey-1 { 
	background-color: #444;
	&div.quote-details {
		background-color: #222;
	}
}
.grey-2 { 
	background-color: #666;
	&div.quote-details {
		background-color: #444;
	}
}

.lively-0 { background-color: #a2e374; &p { color: #333; } }
.lively-1 { background-color: #c1e373; &p { color: #333; } }
.lively-2 { background-color: #e2df73; &p { color: #333; } }