<!--
  
  Quote:
  success() when adding a quote renders the tag-container and add-tag-container.
  failed() when trying to add a quote populates the messages with what went wrong.

  Tag:
  success() when adding a tag re-renders the tag-container.

!-->
<div class="noted-bookmarklet">
  <div class="noted-spinner"></div>
  <div class='noted-content-container'>
    <!-- <div class="tag-container"></div> !-->
    <!-- <div class="add-tag-container"></div> !-->
  </div>
</div>
