@import "../components/variables";

.subtitle,
.subtitle--all-caps {
  font-family: "soleil", sans-serif;
}

.subtitle {
	font-size: 15px;
	font-weight: 400;
}

.subtitle--secondary {
  color: $w-secondary-color;
}

/*
  If browsers don't support font-features-settings
  or font-variant, this while apply to them.
*/

@supports not (font-feature-settings: 'smcp') {
  .subtitle--all-caps {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: .75px;
    font-weight: 400;
  }
}

@supports not (font-variant-caps: all-small-caps) {
  .subtitle--all-caps {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: .75px;
    font-weight: 400;
  }
}

/*
  If browsers support font-features-settings,
  this while apply to them.
*/
@supports(font-feature-settings: 'smcp') {
    .subtitle--all-caps {
      font-variant: normal;
      font-size: 15px;
      font-feature-settings:"smcp" 1, "c2sc" 1;
      text-transform: none;
    }
}

/*
  If browsers support font-variant-caps,
  this while apply to them.
*/
@supports(font-variant-caps: all-small-caps) {
  .subtitle--all-caps { //Falling back to using fake small-caps due to all-small-caps rendering in disproportionate/too small size.
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: .75px;
    font-weight: 400;
    font-feature-settings:"smcp" 0, "c2sc" 0;
  }
    // .subtitle--all-caps {
    //   font-variant: normal;
    //   font-size: 15px;
    //   font-variant-caps: all-small-caps; //all-small-caps; makes it too small…
    //   text-transform: uppercase;
    //   letter-spacing: .75px;
    // }
}

/*
  Targets only Safari 9.0+ to fix the issue with Safari being -webkit-
  and support the font-feature-setting 'smcp' above, but not rendering
  it properly. This bypasses that and adds the rendering for browsers
  that do not support modern font-feature-settings.

*/
// @supports (overflow:-webkit-marquee) and (justify-content:inherit) {
//   .subtitle--all-caps {
//     font-size: 13px; // Overrides previous font-size: 15px;
//     text-transform: uppercase;
//     font-weight: 300;
//     letter-spacing: 1px;
//   }
// }

/*
  If browsers don't support font-features-settings
  or font-variant, this while apply to them.

  For example iOS Safari.
*/
.c-quote__content.small h1 em,
.c-quote__content.small h1 em mark {
  font-size: 13px;
  font-family: "soleil";
  text-transform: uppercase;
  letter-spacing: .75px;
}

/*
  If browsers support font-features-settings,
  this while apply to them.
*/
@supports(font-feature-settings: 'smcp') {
    .c-quote__content.small h1 em,
    .c-quote__content.small h1 em mark,
    .icon-menu {
      font-variant: normal;
      font-size: 15px;
      font-feature-settings:"smcp" 1, "c2sc" 1;
      text-transform: none;
      letter-spacing: .75px;
    }
}

/*
  If browsers support font-variant-caps,
  this while apply to them.
*/
@supports(font-variant-caps: all-small-caps) {
    .c-quote__content.small h1 em,
    .c-quote__content.small h1 em mark,
    .icon-menu {
      font-variant: normal;
      font-size: 15px;
      font-variant-caps: all-small-caps;
      text-transform: none;
      letter-spacing: .75px;
    }
}

// /*
//   Targets only Safari 9.0+ to fix the issue with Safari being -webkit-
//   and support the font-feature-setting 'smcp' above, but not rendering
//   it properly. This bypasses that and adds the rendering for browsers
//   that do not support modern font-feature-settings.

// */
// @supports (overflow:-webkit-marquee) and (justify-content:inherit) {
//   .c-quote__content.small h1 em,
//   .c-quote__content.small h1 em mark,
//   .c-quote__timestamp,
//   .c-sidebar_container__header h4,
//   .o-content_container__title,
//   .icon-menu,
//   .c-button--small {
//     font-size: 13px !important;
//     font-family: "soleil";
//     text-transform: uppercase;
//     font-weight: 300;
//     letter-spacing: 1px;
//   }

//   .c-quote__timestamp {
//     line-height: 2.2;
//   }
// }

// /*
//   If browsers support font-variant: small-caps,
//   but not font-feature-settings,
//   this while apply to them.
// */
// @supports(font-variant: small-caps) {
//   .c-quote__content.small h1 em,
//   .c-quote__content.small h1 em mark,
//   .c-quote__timestamp,
//   .c-sidebar_container__header h4,
//   .o-content_container__title {
//     font-size: 15px;
//     font-variant: all-small-caps;
//     font-weight: 400;
//     text-transform: lowercase;
//   }
// }