<header class="c-header">
  <div class="c-header__container">
    <h1 class="c-ettui-logo">ettúi.</h1>
    <div class="c-header_ctas__container">
      <%= link_to "Try our demo", demo_path, :class => "c-button c-button--small c-button--tertiary" %>
      <%= link_to "Sign in", login_path, :class => "c-button c-button--small c-button--secondary" %>
    </div>
  </div>
</header>
