<header>
  <h1 class="c-ettui-logo">ettúi.</h1>
  <div>
    <% if current_user %>
      <%= link_to "Logout", logout_path, class: "subtitle--all-caps header__link secondary" %>
      <%= link_to image_tag(current_user.twitter_image_url, class: "a-profile_image"), board_path(current_user.boards.first) %>
    <% else %>
      <%= link_to "Try our demo", demo_path, class: "subtitle--all-caps header__link secondary" %>
      <%= link_to "Sign in", login_path, class: "subtitle--all-caps header__link secondary" %>
    <% end %>
  </div>
</header>
